[2022-04-28 07:59] alice-ks commented on #3338
Uri, thanks for reporting these issues. Both of them seem to be rather general issues in the latest version of the plugin and not specifically for 2022.1. I opened #3539 and #3540 to track them.

[2022-04-28 08:21] alice-ks commented on #3539
Should be fixed by https://github.com/bazelbuild/intellij/pull/3541.

[2022-04-28 09:37] #3539 closed

[2022-04-28 19:45] mai93 commented on #3338
The plugin compatible with IntelliJ and CLion 2022.1 is now uploaded to the stable channel. The CLion plugin should likely show up publicly within a day.

[2022-04-29 17:27] #3540 closed

[2022-04-29 21:34] marcelluiz96 commented on #3338
Got this error while opening a project using the beta channel's release immediately after upgrading to 2022.1
Followup bazel builds failed stating "Sync failed", but no details there.

`com.intellij.diagnostic.PluginException: The specified parameters not match any of the following constructors:
for interface com.google.idea.blaze.java.libraries.JarRepackager [Plugin: com.google.idea.bazel.ijwb]

[2022-04-30 22:55] uri-canva commented on #3537
Tested it, `Expand Sync to Working Set` doesn't stop it from happening.

[2022-04-30 22:59] uri-canva commented on #3537
In some places it's conditional on that: https://github.com/bazelbuild/intellij/blob/9805ad8439bffa31e91897523f3cd4b6aadab641/base/src/com/google/idea/blaze/base/sync/BuildPhaseSyncTask.java#L141, but in some places it's not: https://github.com/bazelbuild/intellij/blob/8399d1001033e784129a5270e4768b7781c78872/base/src/com/google/idea/blaze/base/sync/ProjectStateSyncTask.java#L115.

[2022-05-01 19:11] bdleitner opened #3555 ""Illegal Character" trying to debug go_test, and passing tests don't show up when run."
The problem occurs when run a test in Goland from the "Run/Debug configurations" using bazel test.

If I just run, then the tests run and I can see the results on the console, but the test navigator says "No tests were found" (if they all pass)
![No Tests Found - Goland](https://user-images.githubusercontent.com/7515022/166160166-0681bf32-64a3-4e8d-a576-68e5a5574916.png)
Note that I have "show pas

[2022-05-01 23:05] bdleitner commented on #3555
For a comparison, I also checked with IntelliJ for my java tests (same bazel plugin version) and it worked fine there, so it does seem to be golang specific.

[2022-05-02 00:04] kaplad commented on #2328
Facing the same issue :( @jlaxson could you please advise where I should add your code snippet?

[2022-05-02 03:50] bdleitner commented on #3555
Further note: I tried adding a `.bazelversion` file to use version 5.0.0, as that version is noted in the bazel plugin.  This dit not help, I got the same error.

[2022-05-02 08:54] alice-ks commented on #3533
This issue will be fixed by #3547. Please disable the jar cache in the meantime.

[2022-05-02 08:55] alice-ks commented on #3338
This sounds like #3533. Please disable the jar cache in the meantime.

[2022-05-02 15:57] jlaxson commented on #2328
@kaplad Create an executable file in <workspace root>/tools/bazel with first line `#!/bin/bash` and remainder the script as above.  Then when you run bazel as usual, it will first use that script to modify the command line.

[2022-05-03 13:52] orreksu opened #3565 "Getting Internal Error after recent update"
**Bazel Plugin Version:** 2022.04.20.0.2-api-version-213

**Bazel Problems:**
[code]

**stacktrace.txt**
[code]

[2022-05-04 16:52] alice-ks commented on #3565
Thanks for the report. This is a duplicate of #3533.

[2022-05-04 16:52] #3565 closed

[2022-05-04 17:35] fivetran-andydreyfuss commented on #3533
For anybody stumbling upon this like me, and not 100% clear on the temporary workaround, it's

Settings --> Bazel Settings --> Uncheck the "Use a local jar cache."

[2022-05-05 01:08] odisseus commented on #1824
I found a workaround for this issue that does not require forking the entire Bazel plugin.

It is possible to create a tiny plugin that would [extend](https://plugins.jetbrains.com/docs/intellij/plugin-extensions.html) the Bazel plugin with a custom [TargetKindProvider](https://github.com/bazelbuild/intellij/blob/v2022.05.03/base/src/com/google/idea/blaze/base/model/primitives/Kind.java#L53) which

[2022-05-05 18:44] kwu4 commented on #2301
I'm also getting this issue as well in JUnit5 for non-backticked methods.
It seems like when I try to run a single test it returns
`--test_filter="my.package.path.<class name>.<method name>"`
instead of the expected
`--test_filter="my.package.path.<class name>#<method name>"`

[2022-05-07 12:41] TRL-Official commented on #3533
Thank you very much for this information.

[2022-05-09 18:13] jikku-john opened #3587 "bazel plugin keeps crashing in intellij"
The bazel tab shows briefly while intellij is launching and then disappears.

The intellij version i am using is 2021.3.3 and the bazel plugin version is 2022.04.20.0.2-api-version-213

[2022-05-11 19:29] togiles commented on #193
`TEST_WORKSPACE` is another that I wish were set to allow usage of `bazel.RunfilesPath()` in go tests (breaks when we run with debugger due to this not being set).

[2022-05-12 07:36] brt-alexei opened #3600 ""Scanning files to index" never finish (tar with hard links)"
When one of the external dependencies referenced by http_archive is a tar that contains hard links, "scanning files" is incredibly slow and never finish.

These lines in a log file indicate that fsnotifier is unhappy;

`2022-05-11 22:37:25,828 [ 105981]   INFO - pl.local.NativeFileWatcherImpl - Starting file watcher: /home/user/.local/share/JetBrains/Toolbox/apps/Goland/ch-1/212.5712.34/bin/fsnoti

[2022-05-15 18:21] absalvado commented on #3112
What's the current state of this? I was also trying to use Bazel in Clion for a project inside my WSL documents but I'm getting the following error:
<img width="1185" alt="screenshot" src="https://user-images.githubusercontent.com/26327900/168487956-97c0388e-11f0-42d7-8247-db596248ed28.png">

[2022-05-16 00:07] jesseschalken commented on #3133
Doing a fresh build from master (currently b13da748a528f7f2872b2139d2e0ca27c1e1299e) fixed the issue for me. I got the error while on commit 934f183f03d690e526a737136419b6af8c2a1e3f. Not sure what fixed it.

[2022-05-16 02:16] rockwotj commented on #3133
This got fixed in https://github.com/bazelbuild/intellij/issues/3384

[2022-05-17 11:45] fivetran-mandeepsingh opened #3613 "Bazel option not available in Menu and toolbar after installing plugin in IntelliJ"
After installing bazel plugin, bazel option is not available in Menu bar or the toolbar as it used to earlier.
<img width="1032" alt="image" src="https://user-images.githubusercontent.com/83605042/168802911-0256cada-5a1a-4e98-902c-34228ef15618.png">
Bazel plugin version: 2022.02.23.0.0-api-version-212
Bazel version: 4.2.2
IntelliJ IDEA version: 2021.2.3

I tried with different (but compatible) ver

[2022-05-17 12:01] lockelee1015 opened #3614 "How to add generated go file after bazel build to Go Libraries for indexing?"
We write a bazel rule for generate mock file. This rule is a wrapper for go_libraray and the generated mock file will not defined in srcs. It's worked when bazel build and test,but we cannot see those mock.go file in ***Go Libaries***. I found the generated file under `bazel-out/darwin-dbg/bin`.So how can I add this generated file into Go Libaries ?

I think it's a generally requirement, can I rew

[2022-05-17 23:02] JamyDev commented on #2042
@alice-ks I have an idea to implement this by re-using the [EnvironmentVariablesState](https://github.com/bazelbuild/intellij/blob/master/base/src/com/google/idea/blaze/base/run/state/EnvironmentVariablesState.java) component that is used by the Python run config, but making it global by applying it in [ScopedBlazeProcessHandler](https://github.com/bazelbuild/intellij/blob/master/base/src/com/goog

[2022-05-18 12:35] fivetran-mandeepsingh commented on #3613
I think I found the reason behind this.
My project did not already have .ijwb folder when I first opened it in IntelliJ. Due to this even after installing bazel and bazel plugin, my project was not being detected as a bazel project and hence bazel options were not available in menu and toolbar.
I navigated to "File"->"Import Bazel Project" and provided my WORKSPACE and BUILD file paths and again o

[2022-05-18 12:35] #3613 closed

[2022-05-18 23:31] the-nick-of-time opened #3617 "Spurious invisible warnings on WORKSPACE and BUILD files"
![intellij bazel spurious warnings](https://user-images.githubusercontent.com/16628713/169170988-b797e37f-4d27-410a-9d46-e4dcfe599bc2.png)

WORKSPACE and BUILD files are marked with a weak warning on every keyword argument. These warnings have no text associated with them.

[2022-05-20 14:31] dpoluyanov commented on #3112
We've ended up with building our own copy of plugin from with small wrapper program around `bazel`

[2022-05-23 12:08] kamildoleglo opened #3622 "Bazel plugin causes IJ to freeze on large project view files"
When importing a large project (`.bazelproject` file with around 20k lines => 10k directories + 10k targets) the plugin causes IntelliJ to freeze. A common stacktrace part seems to be a `calculateMinimalWorkspacePaths` call, which in turn calls `.toCanonicalPath` which is a slow operation and may or may not be the cause of the freezes:

[code]

[2022-05-23 12:13] kamildoleglo opened #3623 "PartialSyncAction and AddSourceToProjectAction warn about slow operations"
A common theme visible in logs is a warning about slow operations:
[code]

[2022-05-24 15:21] emidln-imc opened #3625 "Resolve JDK by looking for a java_toolchain"
Rather than manually setting up my JDK in my project settings in IntelliJ, it would be nice to discover the JDK that bazel uses and configure this JDK. In particular, since my JDK can change based on a config in my .bazelrc (11 vs 17) having the JDK determined via the sync process would allow for a seamless experience for the user.

[2022-05-24 16:11] stfedosov opened #3626 "Issue with importing existing Bazel project"
I face the following problem when open an existing Bazel project in IntellijIDEA.
File -> Import Bazel project... -> from scratch

This is the stack trace that I'm getting:

[code]

Due to that reason Bazel sync fails.

Is there any fix for this?

Current configuration:
Bazel plugin 2022.05.03.0.1-api-version-221
Please plugin v2.1.3.
Java 11.0.8
IntellijIDEA 2022.1.1
Bazel binary location is set

[2022-05-25 05:27] vm-mishchenko opened #3629 "Show Jest Runner option inside Run gutter icon for Bazel based project"
Hi,
Is it possible to remove `JestRunConfigurationProducer` from the `PRODUCERS_TO_SUPPRESS` list in [NonBlazeProducerSuppressor.java](https://github.com/bazelbuild/intellij/blob/master/javascript/src/com/google/idea/blaze/javascript/run/producers/NonBlazeProducerSuppressor.java#L42)? Or maybe to make this list configurable through IntelliJ UI?

A bit about my use case. I have a Bazel project. All

[2022-05-25 10:26] #3626 closed

[2022-05-26 12:24] slamdev opened #3635 "IDEA autocomplete of go generated sources"
If `go_library` is created via custom rule, IDEA fails to autocomplete generated sources.

sample project: https://github.com/slamdev/bazel-go-gen-idea-autocomplete/
idea version: `Build #IU-221.5591.52, built on May 10, 2022`
bazel plugin version: `2022.05.03.0.1-api-version-221`

custom rule has [go_generated_srcs](https://github.com/slamdev/bazel-go-gen-idea-autocomplete/blob/main/defs.bzl#L30)

[2022-05-26 15:52] BillyAutrey opened #3636 "Scala Aspect tests find the wrong filename for source jars."
In `com.google.idea.blaze.aspect.scala.scalalibrary.ScalaLibraryTest.testScalaLibrary()`, there is a test that loads a test fixture based on the code in the `aspect.scala.scalalibrary` aspect test.

Right now, the code looks like this:
[code]

If we change the code to match the Java implementation (and actually match the `ijar` and `-src.jar`, it will fail:

[code]

[code]

Debugging reveals that

[2022-05-26 15:53] BillyAutrey commented on #3636
This makes me think that there's a deeper bug in the way that the aspect is looking for scala source files.

[2022-05-27 18:09] Bencodes commented on #505
Has any progress been made on this one? We also heavily use `rules_jvm_external` and having auto-complete support for this would be a huge quality-of-life improvement for our users.

[2022-05-27 21:08] jfirebaugh commented on #3613
I had the same problem but that solution doesn't work for me. I just get two projects: the original one (no Bazel menu shows up) and a new one with .jwb extension and no files.

[2022-05-29 13:33] dav1d-wright commented on #3499
I am currently seeing the same issue, does anybody know how to fix this?

[2022-05-31 13:47] rdesgroppes opened #3653 "'Application.acquireReadActionLock' is deprecated and going to be removed soon"
With IntelliJ IDEA 2022.1.1 (Community Edition) together with plugin Bazel 2022.05.17.0.3-api-version-221 that are both pretty recent, I sometimes get suggested by the former to report the following issue on the latter:
[code]

[2022-06-01 19:12] edwardotis commented on #3216
+1 for GoLand to have gazelle support. Gazelle is standard at Uber and we're a majority golang shop these days.

[2022-06-02 19:42] mai93 opened #3662 "IntelliJ 2022.2 Support"
The 2022.2 EAPs for IntelliJ and CLion are released and we have made the necessary changes to enable working towards supporting this new version. You can now build the Bazel plugin for the EAP using: `intellij-oss-under-dev`, `intellij-ue-oss-under-dev`  or `clion-oss-under-dev` product-version aliases for IJ CE, IJ UE and CLion respectively. For compatibility fixes, we encourage you to follow the

[2022-06-02 19:44] mai93 commented on #3338
Closing this tracking bug since 2022.1 has been supported for a while now. If you encounter regressions in this version, please file new reports.

[2022-06-03 19:55] fivetran-andydreyfuss commented on #3626
@stfedosov did you solve this? I'm hitting it as well.

[2022-06-04 07:13] stfedosov commented on #3626
@fivetran-andydreyfuss yes, you need to update Bazel plugin to **2022.05.17.0.3-api-version-221**

[2022-06-07 09:28] kamildoleglo opened #3670 "SourceFolderProviders can't set test folders"
If a test folder is not conforming to any regex in the project view file but is marked as a test source by the SourceFolderProvider, then the `setSourceFolderForLocation` method is called on the relevant SourceFolderProvider. However, if the provider then adds the folder as a test source anyway, the ContentEntryEditor removes it in the subsequent step, because the ContentEntry map has the (folder,

[2022-06-08 14:06] jalkjaer commented on #3600
I have tried the patch the fsnotifier as suggested in
https://youtrack.jetbrains.com/issue/IDEA-126491/File-watcher-failed-to-start-table-error-collision-messages-in-the-log#focus=Comments-27-5914263.0-0
the above error dissapears, but the "scanning files" stall is still there.

[2022-06-08 14:10] kaaquist commented on #3600
:+1: I see that error too. Did not try the patch suggested in the link above.

[2022-06-09 13:56] jesseschalken commented on #3499
Put in `~/.gdbinit`

[code]

Then put in `.gdbinit` in your repo root

[code]

The two `directory` lines might need to be in the opposite order, I can't remember.

[2022-06-09 19:12] plaird commented on #3424
A user in my company reported this issue. She was able to resolve it by setting _JAVA_HOME_.

"Restarting unset the _JAVA_HOME_. Setting _JAVA_HOME_ to _path/on/the/machine/openjdk_11.0.X.Y.Z_x64_ resolved the issue."

[2022-06-10 11:22] jalkjaer commented on #3600
I'm on 2022.1.2 and had to apply the patched ver in order for the fsnotifier to stay up when there are multiple symlinks pointing to the same file

[2022-06-11 16:59] wingdi opened #3678 "In Android Studio, When target is recognized as an android_binary, what the bazel-plugin do to build command and android_binary()?"
Because when target is an android_binary, the built apk works fine, but when target is aar, when the aar imported into an android project, the generated apk don't work normally .

<img width="827" alt="0EB4CF0C06037E15201117D49DEA7807" src="https://user-images.githubusercontent.com/25787391/173210342-dd2b9d2c-cfbd-4074-b519-49ef472d48c0.png">

[2022-06-14 14:13] loeffel-io commented on #194
Thanks ❤️

[2022-06-14 14:27] kriscfoster opened #3684 "Different behaviour for running vs debugging bazel target in Intelij"
When I click run and debug for a target in Intelij, the behaviour is different. The main issue is that debug doesn't include the environment variables that are included with run.

Here's a repository with a basic reproduction: https://github.com/kriscfoster/bazel-intelij-debug-repro

Bazel plugin version: `2022.02.23.0.0-api-version-212`

This repository was created for the purpose of reproducing

[2022-06-14 20:21] keithl-stripe opened #3685 "Improve performance of Java package parser by making it a Bazel worker"
Here at Stripe, project sync performance is a big issue, and costs our engineers a lot of time. We found that project syncs often spend 10-30% of the overall build time just doing "package parsing," which is used when constructing IntelliJ project source roots.

The package parser tool is a Java application and the majority of the time spent executing it is in starting up the JVM and loading class

[2022-06-14 20:58] Bencodes commented on #3685
This is also something that we've seen here at Lyft in our Android mono repo. We also built out worker support for all of the JVM processes inside the aswb plugin and have seen a ton of performance improvements in sync times as a result.

[2022-06-15 09:49] govisi opened #3690 "Unable to use environment variables/macros in Bazel flags"
I tried to use Intellij macros in bazel flags but it doesn't seem to work, is there any support or workaround for this? Has anyone tried?
ex: `--instrumentation_filter=$MODULE_WORKING_DIR$`

[2022-06-16 07:25] kriscfoster opened #3691 "test_filter not being correctly applied when there are multiple test cases (go)"
Repository with reproduction: https://github.com/kriscfoster/bazel-intelij-go-test-filter-repro

## command line

(only the desired test case runs)

[code]

## using intelij plugin

(undesired test cases also run)

<img width="842" alt="Screenshot 2022-06-16 at 08 21 01" src="https://user-images.githubusercontent.com/17026751/174014898-0832bfed-fa38-4c21-82fe-e7ef2887118c.png">

The correct `--tes

[2022-06-16 07:58] kriscfoster commented on #3684
This is probably due to https://github.com/bazelbuild/intellij/issues/2213

[2022-06-18 13:59] dpeter99 opened #3695 "MSVC not found on Windows."
Hi!
I'm getting this error when running inside CLion but not when I run the same command in cmd.
![image](https://user-images.githubusercontent.com/7725817/174441766-1f913f1f-3c59-4069-bb1b-25a01967ce2c.png)
My plugin version is: ``2022.05.31.0.0-api-version-221``

[2022-06-21 15:44] kohsuke commented on #1957
@marcelluiz96 For a while I did just that. Sort of. I kept updating my branch with the tip of the development in this repo, and I rebuild the plugin for a newer IntelliJ version I'm using from time to time.

Since then I moved away from an active engineering role, so I stopped doing that. I'm currently not hearing any complaints from my team, but I'm not sure how many of them use IntelliJ.

[2022-06-22 18:15] aryeh-looker opened #3702 "Documentation Tooltip for Rules"
<img width="507" alt="image" src="https://user-images.githubusercontent.com/12849602/175108095-f9de0f8a-1cf2-4fa7-a6b3-e561b95d0daa.png">

If anyone wants to post any ideas about how to implement, would be glad to take a look.

[2022-06-22 18:56] ThomasCJY opened #3703 "`BlazeAndroidSyncBuildFlagsProvider` doesn't correctly parse existing `fat_apk_cpu` flag in bazelrc file"
**Background**
After applying the latest bazel android studio plugin. We noticed that our IDE build become much slower and we saw
[code]
in our build logs. The regression comes from [this line](https://github.com/bazelbuild/intellij/commit/ad4aa276b54a7f12553c99423f2a57f864638231#diff-4bbe37e21cc3121d4616fec9d8c9c254c6f3696bb2dbb46952ecb6b6f6396e45R55). It turns out `syncOnlyFlags` cannot correctl

[2022-06-23 19:24] mik90 opened #3706 "When debugging in Clion, the bazel plugin cannot find the executable being debugged"
Hi,

I was trying out Clion 2022.1.2 with bazel plugin 2022.05.17.0.3-api-version-221 and i cant debug with it. I normally right click a source file or bazel target that's executable and click "Debug 'bazel test MyExecutableTarget'".

Im upgrading from Clion 2021.2.4 with bazel plugin 2022.03.22.0.5-api-version-212 which is able to do debugging.

With this new Clion & bazel combo it complains that

[2022-06-25 21:10] abhillman opened #3724 "Debugging IntelliJ Bazel Plugin Itself"
It would be useful to document a means for debugging the plugin itself; i.e. run it and set breakpoints, etc. Do devs have a means by which they do this at the moment?

[2022-06-25 21:12] abhillman opened #3725 "Test Coverage Information"
It would be useful to have a means of looking at coverage information and to document that

[2022-06-25 21:51] abhillman opened #3726 "Add .bazelrc to .gitignore"
Allows devs to specify settings for all build targets. Example use-case:

[code]

[2022-06-25 22:01] abhillman commented on #3726
cc/ @mai93 @vsiva please take a look

[2022-06-25 22:06] abhillman opened #3728 "Furnish debug Support for `test_suite` Targets"
Note that only "run" is available, as opposed to "debug"

<img width="599" alt="image" src="https://user-images.githubusercontent.com/1097794/175791797-e3c83dbc-cd50-430b-8153-516e65732a7a.png">

This is in contrast to other targets, which are debuggable:

<img width="539" alt="image" src="https://user-images.githubusercontent.com/1097794/175791820-9a412fc5-de16-4561-be6e-2209b80ac4f9.png">

[2022-06-25 22:08] abhillman opened #3729 "Add Missing Gutter Icons for Runnable/Testable Targets"
Example:

<img width="568" alt="image" src="https://user-images.githubusercontent.com/1097794/175791841-76cff735-e5af-4fd7-94d2-aba8f8694257.png">

Note that in this example, `intellij_integration_test_suite` is in fact runnable, despite missing gutter icons:

<img width="585" alt="image" src="https://user-images.githubusercontent.com/1097794/175791857-d54a001d-7e99-4b8c-8ead-e4e67d8711fa.png">

[2022-06-25 22:13] abhillman opened #3730 "Native Build Rules Point to 404'ing URL"
Example:

<img width="570" alt="image" src="https://user-images.githubusercontent.com/1097794/175791947-542fc082-86c1-4df4-9a52-7f572d17a3e4.png">

Furnished link points to https://bazel.build/docs/be/overview.html, which 404s:

<img width="858" alt="image" src="https://user-images.githubusercontent.com/1097794/175791906-b059d81b-745f-4825-839b-d6492263311e.png">

Location in source that needs to

[2022-06-25 23:39] abhillman opened #3731 "Jump to Source from Test Results"
Observed:

<img width="627" alt="image" src="https://user-images.githubusercontent.com/1097794/175793644-8acc4f6a-9826-40a6-91c9-c3019f5dc7d1.png">

Expected (comes from a maven project):

<img width="561" alt="image" src="https://user-images.githubusercontent.com/1097794/175793650-ec34503e-822a-4a12-b4ca-aaf19ad89c93.png">

[2022-06-25 23:43] abhillman opened #3732 "Target List Unpopulated for "Bazel IntelliJ Plugin" Configuration Modal"
<img width="1042" alt="image" src="https://user-images.githubusercontent.com/1097794/175793716-a4b406da-dfca-4a51-ba45-d61a6de22297.png">

Repro steps:
* checkout this repository
* open the `WORKSPACE` file
* add the latest release of this plugin to IntelliJ
* go to "Edit Configurations"

[2022-06-26 00:21] abhillman commented on #3726
It looks like the "better" way to do this is to add `build_flags` to `.bazelproject`

[code]

I would propose, instead of this approach, perhaps adding some documentation for how to import and run sources to the README.

[2022-06-26 21:10] abhillman opened #3733 "Document Necessity of Adding IntelliJ Platform Plugin SDK"
The IntelliJ Platform Plugin SDK allows for the resolution of symbols in the IntelliJ IDE when working on the plugin itself.

Without the IntelliJ Platform Plugin SDK:
<img width="1268" alt="image" src="https://user-images.githubusercontent.com/1097794/175833912-a8ea845f-916c-4a30-a116-182e0348fea6.png">

Screenshot of how to enable via project settings:

![image](https://user-images.githubusercon

[2022-06-26 22:57] timduly4 commented on #194
How do we disable Go modules in GoLand?

[2022-06-27 00:11] timduly4 opened #3734 "Generated .pb.go files remain unsynced and unrecognized in GoLand"
GoLand isn't recognizing structures that are are generated by protobuf definitions, specifically the `config.pb.go` file. Any idea why?

This simple example is from the CockroachDB [repo](https://github.com/cockroachdb/cockroach), and I have GoLand version 2022.1.3 with the Bazel plugin version 2022.06.14.0.1-api-version-221.

https://github.com/bazelbuild/intellij/issues/194 looks similar, but it

[2022-06-27 04:11] dkthezero commented on #2317
Hi team, can you show how to enable coroutine debug an run debug with Intellij for bazel plugin? My version is IntelliJ IDEA 2022.1.3 (Ultimate Edition).

[2022-06-27 09:37] blorente opened #3736 "Spurious `infos` when indexing Starlark files."
### Reproduction Data

- IntelliJ Ultimate, 2022.1.3
- Bazel Plugin Version: 2022.06.14.0.1-api-version-221

Semi-minimal repro: https://github.com/blorente/standalone-repros/tree/go-mock
I have seen this issue with every other repository.

### Issue

When I import a Bazel Project through the plugin and open any Starlark file (either `WORKSPACE`, `BUILD.*`, or `*.bzl`), I see one or more spurious

[2022-07-01 03:16] uri-canva commented on #3629
It's strange that the suppression happens regardless of which languages you enable in the plugin, I can see a lot of my producers are suppressed, like javascript, golang, python, kotlin and scala, even though I've never enabled those languages in the `ij.bazelproject` file.

[2022-07-02 04:06] aryeh-looker opened #3746 "Poor "Refreshing Files" Performance"
In my experience, the gradle plugin is a lot faster here on much larger projects than the one I am working with. This tends to happen if I add a dep. Likely an opportunity to optimize.

<img width="666" alt="Screen Shot 2022-07-01 at 9 04 39 PM" src="https://user-images.githubusercontent.com/12849602/176985885-c3cce486-3219-4070-87ea-d07ab12d681f.png">

[2022-07-06 17:00] aarone commented on #3080
i ran into the same issue and can contribute a change to support this. It looks like the plugin accepts a Java major version that is then mapped to an Intellij project language level. Language levels are (now?) a superset of Java major versions which is why the preview language levels aren't supported.

It looks like all of the possible language levels are defined in a enum (`com.intellij.pom.java

[2022-07-08 07:02] ZitherPeng opened #3750 "PKIX path building failed:"
#### Description of the issue. Please be specific.

#### What's the simplest set of steps to reproduce this issue? Please provide an example project, if possible.

#### Version information
AndroidStudio: Bumblebee | 2021.1.1 Patch 3
Platform: Mac OS X 11.6
Bazel plugin: 2022.03.22.0.5-api-version-211
Bazel: 4.2.2

[2022-07-08 07:05] ZitherPeng commented on #3750
sorry ，useless issues

[2022-07-08 11:09] joca-bt commented on #3252
No longer seems to be happening with Bazel 5.0.0, plugin 2022.06.14.0.1-api-version-221, and IntelliJ IDEA 2022.1.3 (Ultimate).

[2022-07-08 13:31] Elentary opened #3752 "Incorrect folder name in project auto-import"
https://github.com/bazelbuild/intellij/blob/9c04bef93784947fd7a42c4f04db22cc478f7065/base/src/com/google/idea/blaze/base/project/AutoImportProjectOpenProcessor.java#L125

But for CLion the folder is ".clwb". I bet it doesn't work for IDE other than IDEA, am I right ?

[2022-07-09 20:25] abhillman opened #3756 "Ability to create bazel project directly in IntelliJ"
Current workaround:
* `mkdir project; touch project/WORKSPACE.bazel`
* import bazel project in IntelliJ

Desired feature:
* have an option to create a bazel project form the "New Project" menu

<img width="1076" alt="image" src="https://user-images.githubusercontent.com/1097794/178121496-5e803445-b376-4412-a37b-77e991eb510c.png">

[2022-07-09 20:29] abhillman opened #3757 "Allow Import of Bazel View file w/out Recreation"
Repro:
* import an existing bazel project
* a view file is created
* close the project
* go to "import bazel project"
* go to workspace
* select "import project view file"

<img width="1256" alt="image" src="https://user-images.githubusercontent.com/1097794/178121552-b729ba33-9e39-449d-8fec-8e36575c566d.png">

* note that the _existing_ view file shows up in the modal

<img width="1256" alt="image

[2022-07-10 01:47] abhillman commented on #1706
This sometimes shows up and it's not clear to me why it does sometimes and not others

<img width="499" alt="image" src="https://user-images.githubusercontent.com/1097794/178128155-7f39723a-7731-413b-938a-daf849e74571.png">

<img width="1125" alt="image" src="https://user-images.githubusercontent.com/1097794/178128157-02d3dc79-1633-4a81-a454-2a8e24d8b69e.png">

[2022-07-10 01:49] abhillman opened #3758 "Debug for Starlark not Always Available"
See comment here

https://github.com/bazelbuild/intellij/issues/1706#issuecomment-1179635807

Repro:
* clone https://github.com/bufbuild/rules_buf
* create bazel project by opening the dir that contains`examples/workspace/WORKSPACE`
* attempt to debug `buf_breaking_test` / label `fooapis_proto_breaking` in `fooapis/BUILD.bazel`

[2022-07-10 20:15] bdleitner opened #3759 "Goland project names are not informative"
I'm not sure if this is an issue with the bazel plugin or with Goland more generally (or both).  Unlike IJ, Goland doesn't seem to have a simple way to control a project's name (there is no name field in Project settings, for example).

In IJ, when I import a bazel project, I can name it and get descriptive names in the load window:
![IJ Good Project Names](https://user-images.githubusercontent.co

[2022-07-11 09:53] StepanTytaSothebys commented on #3449
Same issue

[2022-07-14 05:05] erinacio opened #3770 "CLion plugin doesn't support external_include_paths feature"
## What was done

We opted-in bazel `external_include_paths` feature so that we can use `#include<>` for dependencies.

## What is expected

We expect bazel and CLion plugin all work normally.

## What happened actually

Bazel itself works while CLion plugin doesn't, still yelling that we should use `#include""` instead.

## Environment

- Bazel: 5.1.1, directly downloaded from github release page

[2022-07-15 00:57] Nexproc commented on #3303
Same issue here - have a small PR which might help? Just trivially replacing spaces with escaped spaces.

[2022-07-15 01:24] Nexproc commented on #3303
Hmm... seems like bazel just treats escaped whitespace as regular whitespace and still splits the command into an invalid target.

[2022-07-15 08:38] Nexproc commented on #3303
At the moment I've got the following working for Goland, but it might work for IntelliJ as well:

1. Create a symlink to `Library/Application Support` (I use Library/symAppSupport) (use ln -s "My Folder" MySymlinkFolder)
2. You might need to also `chmod 755` on the new symlink folder as well (or whatever your Application Support perms are)
3. Open Intellij, Help > Edit Custom Properties
4. add the

[2022-07-18 03:47] kkpattern commented on #113
We got a simliar issue when import an Android bazel project. The plugin says unable to access compiler executable "Path\to\android\ndk\toolchain\clang". The executable is actually `clang.exe`.

[2022-07-18 16:01] ldebello-ddl commented on #884
I am importing a bazel project which use scala play and the libraries does not include the play-exceptions.jar because the class from that jar (PlayException.class) is only used in tests, is there any workaround beside adding the library manually, I would like to have them added automatically

[2022-07-19 01:05] bedbad commented on #2101
Still same problem

[2022-07-19 11:14] tpasternak opened #3775 ""Import Bazel Project" action not visible in Remote Development Mode"
Steps:
1. Start a remote development session https://www.jetbrains.com/help/idea/remote-development-a.html
2. Check items in "File" menu.

The "Import Bazel Project" button is not visible there.

[2022-07-20 07:29] kkpattern commented on #3703
We also encounter this problem. We currently workaround this by adding following config to project view.

[code]

[2022-07-20 10:13] iamricard commented on #1842
@mai93 👋🏼 hi again, still wondering if you'd be open to a contribution for this

[2022-07-21 18:30] thomaslangston-mongodb opened #3783 "Source roots are not always automatically detected and manual changes are discarded on Sync"
The Bazel IntelliJ plugin appears to detect IntelliJ project source roots by the presence of specific Java centric identifiers.

https://github.com/bazelbuild/intellij/blob/master/java/src/com/google/idea/blaze/java/sync/source/SourceDirectoryCalculator.java

Manually editing the source roots via the context menu by clicking on a folder in the Project view and selecting "Mark Directory As -> Sourc

[2022-07-21 18:37] thomaslangston-mongodb opened #3784 ".bazelproject test_sources setting does not work with Python only directories"
With a .bazelproject configuration like that below, "/python/tests" will not be detected as a Test Sources Root on Bazel IntelliJ plugin Sync. A manual edit in the Project view via the context menu option of "Mark Directory As -> Test Sources Root" also will not persist through the Sync.

.bazelproject

[2022-07-21 23:27] maxlepikhin commented on #2239
Any updates?

For me, python imports don't get resolved in IntelliJ with either pip_parse or pip_install - bazel 5.2.0, intellij plugin from 6/28/22, pip_parse uses interpreter parameter:

[code]

[2022-07-22 11:31] kkpattern opened #3786 "[Feature Request] Add depend targets of listed targets in project view"
Currently, we have two ways to add targets with intellij plugin:

1. Specificly list the targets
2. Enable `drive_targets_from_directories`

Neither way suites our project very well. Our project targets multiple platforms including iOS, Android and PC. When import the project in Android Studio many target are not needed.

Our project is relatively large so it's not convinent to list all wanted tar

[2022-07-22 12:41] kkpattern opened #3787 "`BlazeAndroidSyncBuildFlagsProvider` should parse `fat_apk_cpu` flag from `build_flags` too"
Currently, bazel intellij plugin will try to [parse `fat_apk_cpu` flag from `sync_flags`](https://github.com/bazelbuild/intellij/commit/ad4aa276b54a7f12553c99423f2a57f864638231#diff-4bbe37e21cc3121d4616fec9d8c9c254c6f3696bb2dbb46952ecb6b6f6396e45R55). If no flag found `x86_64` would be added to sync flags.

However, according to [doc](https://github.com/bazelbuild/intellij/commit/ad4aa276b54a7f125

[2022-07-22 17:56] brian-mcnamara opened #3788 "RemovedAction prevents DumbAware actions from being triggered in Dumb Mode"
We noticed that some actions, such as Build Project, were no longer available during indexing (AKA Dumb Mode) even in a non-bazel project. After some debugging I identified the cause was ReplaceActionHelper wrapped the action with RemovedAction which abstracted the original action from the DumbAware check.

This can also easily be reproduced via Tools > Internal Actions > Enter Dumb Mode.

The fix

[2022-07-25 17:47] mai93 commented on #3662
New plugin versions compatible with IntelliJ 2022.2 RC and CLion 2022.2 RC are now uploaded to the plugin Stable and Beta channels. Please try to test it and report any issues you find. The CLion plugin might take a day to show up.

[2022-07-26 07:56] limdor opened #3795 "Year in documentation page is outdated"
In the documentation page appears year 2019. This gives the impression that the page is outdated.
However it is the official entry point: https://github.com/bazelbuild/intellij#support
![image](https://user-images.githubusercontent.com/3073717/180953750-c2394b01-d297-46fa-a3bb-dbcf8ef9d4c4.png)

[2022-07-26 17:50] Vertexwahn commented on #2101
Same problem with
CLion 2022.1.3
Bazel Plugin: 2022.07.25.0.1-api-version-221
Bazel: 5.2.0

[2022-07-29 18:33] t-rad679 opened #3804 "Support Code Analysis for Nested Functions"
It does not appear that the plugin has been updated to reflect support for nested functions in Starlark, as I get red squiggles when I use them.

[2022-07-30 12:14] #3788 closed

[2022-07-31 18:40] maxlepikhin commented on #2239
Removal of "site-packages" from the import string fixes this issue:
[code]
I sent a PR to see if it's an acceptable fix: https://github.com/bazelbuild/intellij/pull/3808

[2022-08-02 10:47] jesseschalken opened #3810 "CLion fails to run GCC (MinGW) compiler on Windows"
This plugin is almost usable on Windows with MinGW-w64 and the following in `.bazelproject`:

[code]

However syncing fails with the following error:

![image](https://user-images.githubusercontent.com/1559204/140792365-72e53638-7986-4ae0-a781-956cc5847669.png)

Which is caused by this line:

https://github.com/bazelbuild/intellij/blob/f894c76e3f492cf9322a9142b43fc0cf2526b39f/cpp/src/com/google/id

[2022-08-02 11:06] jesseschalken commented on #113
@kkpattern I've opened https://github.com/bazelbuild/intellij/pull/3811 with a fix.

[2022-08-03 13:04] fweikert opened #3813 "'google' branch builds are failing on Bazel CI"
Downstream with Bazel@Head: https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/2572#0182617c-54b3-477d-bc90-7435acc36a7a

Regular pipeline: https://buildkite.com/bazel/intellij-plugin-google/builds/133#_

[2022-08-03 15:22] mai93 commented on #3813
The failing tests are for "under-dev" versions and they are expected to fail until this version is fully supported that is why they are marked as soft-fail, so they should not affect the status of the Downstream pipeline if everything else passes. For example, if you checked the regular pipeline: https://buildkite.com/bazel/intellij-plugin-google/builds/133# the whole test is marked as "passed" be

[2022-08-03 16:06] fweikert commented on #3813
SGTM!

[2022-08-04 16:01] GuoshunWu opened #3817 "The symbols cannot be resolved when build android native c/c++ applictions"
When build a appliction of android (c/c++ native), both plugin for Clion or Android studio, all the standard c++ header files could not found. So the symbols defined in them also all red.

The error could be see in $HOME/.cache/JetBrains/CLion2022.2/log/idea.log

[Compiler exited with error code 1: /tmp/blaze_compiler6.sh -xc -gcc-toolchain external/androidndk/ndk/toolchains/x86-4.9/prebuilt/linux

[2022-08-04 22:20] JamesRTaylor commented on #3691
Would love to see a fix for this. Happy to be a guinea pig for testing.

[2022-08-07 00:39] JamesRTaylor opened #3823 "Current directory not correctly set when debugging"
The current directory should be set to the directory containing the test file. This is what bazel does when running at the command line and this is what GoLand and other IDEs do when debugging. Instead, the directory is set to the top level directory (as mentioned in this [issue](https://github.com/bazelbuild/intellij/issues/319)). Would be much appreciated if this could be fixed so that we don't

[2022-08-07 04:21] JamesRTaylor commented on #3823
Duplicate of https://github.com/bazelbuild/intellij/issues/3097

[2022-08-07 04:21] #3823 closed

[2022-08-07 04:35] JamesRTaylor commented on #3097
@alice-ks, your workaround isn't working for me. I'm using GoLand 2022.1.4 on macOS with the latest bazel plugin. Is there somewhere I can put this setting in a project file that I could check-in instead (so I don't have to ask everyone on my team to make a change)?

[2022-08-08 02:09] JamesRTaylor commented on #3759
All projects in Open Recent menu list have the same name: `.project-data-dir, workspace.` Makes it very difficult to open the right project.

[2022-08-08 06:27] physxP commented on #2285
@cpsauer Thank you so much for the fork! It's working great. Fixes so many of the issues I had with the original plugin.

[2022-08-08 07:09] cpsauer commented on #2285
Glad to hear it! You're very welcome, @physxP!

[2022-08-08 07:21] alice-ks commented on #3097
@JamesRTaylor I'm not working on the project anymore.

@mai93 FYI.

[2022-08-09 01:11] JamesRTaylor commented on #3734
We've found that if we move the protobuf file to it's own sibling directory/module, the Bazel Plugin recognizes it. This doesn't work for the gogo protos, though. If anyone has advice on those, we'd love to hear workarounds.

[2022-08-09 01:39] JamesRTaylor commented on #3097
@mai93 - would it be possible to switch the default to use the alternate code path so that the debugger and runtime use the same current working directory?

[2022-08-09 11:46] nadavwe opened #3831 ""invisible" targets added to BUILD file."
#### Description of the issue. Please be specific.
I am working happily in intellij and noticed that wixperiments is adding a target to the build file.
the problem is that this target is not visible from my target.
wixperiments should check that the target is visible before adding it.

#### What's the simplest set of steps to reproduce this issue? Please provide an example project, if possible.

#

[2022-08-09 11:46] nadavwe commented on #3831
i can't find the added target...
I'll add it once I find it.

[2022-08-09 11:47] #3831 closed

[2022-08-09 17:16] #3813 closed

[2022-08-11 18:48] ddl-jameslee commented on #2849
I'm see same issues and I need to specify source jar manually for now.

[2022-08-11 20:00] cwlbraa commented on #3329
I had this problem recently and I fixed it by manually specifying the `bazel` binary path (I use bazelisk) and then restarting IDEA.

[2022-08-11 20:52] mai93 commented on #2570
I think this is fixed by https://github.com/bazelbuild/intellij/commit/acc4c701732103854543ddd4cc80d7b86804d7ae. If you are still seeing this error, feel free to reopen the issue.

[2022-08-11 21:26] mai93 commented on #3670
Hello @kamildoleglo can you provide us with repro steps to better understand the issue and the fix you are proposing in https://github.com/bazelbuild/intellij/pull/3671?

[2022-08-12 14:53] tpasternak commented on #2147
I know it's been a while, but it seems that the issue is not reproducible any more with IJ 2022.2

[2022-08-15 14:22] therearesomewhocallmetim commented on #2093
Has there been any progress on this issue? I'm in 2022 on PyCharm 2022.2 and Bazel plugin 2022.08.09.0.1-api-version-222, but debugging doesn't work either

[2022-08-16 05:26] AlmogDavid commented on #2101
Did someone was able to solve this issue?

[2022-08-17 01:51] qq7te opened #3852 "IntelliJ immediate crash when opening any bazel project"
I'm installing IDEA  on ubuntu 22.04 using the toolbox.
No matter the version of intelliJ IDEA (2021.2, 2021.3, 2022.1, 2022.2) with the bazel plugin (I've tried the latest three versions already, including 2022.08.11.0.1-api-version-222), I constantly get a failure as I open any python project, no matter how small:
[code]

I can't possibly be the only one... What am I doing wrong?

[2022-08-17 14:15] murray-stripe opened #3855 "NPE performing bazel sync"
We've had several users at Stripe experience issues performing a bazel sync through:
  + __Bazel__ -> __Sync__ -> __Sync Project with BUILD Files__
  + __Bazel__ -> __Sync__ -> __Non-Incrementally Sync Project with BUILD Files__
  + Using the Project-View PopupMenu's "__Partially Sync FOLDER/...:all__"

The result is an exception is thrown and the sync is not completed. Stack traces are always fro

[2022-08-17 20:25] qq7te commented on #3852
To add to it, I see the same failure in CLion 2022.2 as well !

[2022-08-18 15:38] qq7te commented on #3852
Absolutely, will do momentarily. Just noticed that this happens only with IntelliJ and Clion installed by the Toolbox, so there's another interesting data point for you.

[2022-08-19 13:55] Sammra-22 opened #3867 "Layout editor not showing custom styles when extending third-party dependency themes"
### Description of the bug:

The layout editor's `theme` dropdown menu doesn't show declared styles/themes that extend other themes coming from third-party dependencies pulled via maven.

![image_(1)](https://user-images.githubusercontent.com/5469097/185633038-366076cf-f160-4163-aae8-8fd5e121f1c8.png)

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if

[2022-08-19 14:25] thomaslangston-mongodb commented on #3784
Noting that I just tried this with .bazelproject like the one above in the [rules_python](https://github.com/bazelbuild/rules_python) repo and it seemed to mark test sources correctly, but it continues to not to work with my repo. My current theory is that a java test target is required to make it fail to mark python sources correctly.

[2022-08-19 16:10] GuoshunWu commented on #3817
@sgowroji Thank you for care about this. Here is the reproduce steps.
1. Install CLion and bazel on ubuntu 20.04.
2. Install Bazel plugin for the CLion.
3. Download NDK and extract it on a install dir: https://dl.google.com/android/repository/android-ndk-r21e-linux-x86_64.zip
4. Create a simple helloword bazel project and config the NDK repo in its WORKSPACE file. Like below:
   android_ndk_reposi

[2022-08-19 16:17] GuoshunWu commented on #3817
Please see the example project here. And the screenshot.
![symbolCannotResolved](https://user-images.githubusercontent.com/2742916/185662320-b0ea7241-248e-4463-8fe1-6d5ad79ef1c8.png)

[2022-08-19 20:28] dfinninger commented on #3061
We recently added our Python code to Bazel in our monorepo (which was previously just managed Java & Scala via Bazel).
Intellij now freezes when it starts refreshing files and eventually crashes due to out of memory errors. Every time this happened, I bumped the memory up by 1GB to see if that would fix it. I'm up to 6GB now and it just takes longer to crash.

To corroborate this bug report, I ran

[2022-08-21 05:57] GeauxEric opened #3872 "bazel plugin cannot get build output of the build_event_bindary_file"
### Description of the bug:

Tried to sync the bazel project and got the error:
[code]
There is the output from the sync process:
[code]

I tried to run this command myself and it succeeds:
[code]
However, there is not file created in `/tmp`
So I changed the path from `/tmp/intellij-bep-b4c46f99-b150-443c-a1b6-6636edc556a5` to other non `/tmp` path, and it created the file. I wonder if it is some

[2022-08-22 16:10] davestibrany-dd opened #3876 "Bazel syntax highlighting as a separate plugin"
### Description of the feature request:

Having the ability to add Bazel syntax highlighting to .bzl/.bazel files without having to install the entire IntelliJ plugin.

### What underlying problem are you trying to solve with this feature?

Installing the entire intellij-bazel plugin pins you to an older version of IntelliJ, which is not desirable. There doesn't exist an IntelliJ plugin solely for

[2022-08-22 18:00] dhalperi opened #3877 "Partial sync gives sponge2 link instead of error messages"
### Description of the bug:

If I do a partial sync of a file that doesn't compile, my Bazel output shows a sponge2 link instead of the compile errors.

Presumably this is Google-internal behavior that has leaked to the outside world?

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Grab a project, do a partial sync that doesn't compile. I

[2022-08-22 18:41] dhalperi commented on #3877
Full repro:

* check out https://github.com/batfish/batfish@da8ee766aa07384818e46c2182ab7747a9136b93
* sync successfully
    <img width="1666" alt="Screen Shot 2022-08-22 at 11 37 21 AM" src="https://user-images.githubusercontent.com/526415/185994938-95a46a3c-cba3-4a82-a848-ab70408b15ac.png">
* modify `FrrLexer.g4` to remove the `ON_STARTUP: 'on-startup';` line
* Open `FrrGrammarTest.java` and par

[2022-08-23 06:59] tpasternak commented on #3852
@qq7te I'm not sure if this is the case, but I'm getting this when I forget to setup bazel executable in Settings -> Bazel Settings

[2022-08-23 12:55] tpasternak commented on #587
Probably could be fixed here https://github.com/bazelbuild/bazel/issues/16150

[2022-08-24 09:19] tpasternak commented on #2239
Hey @maxlepikhin

which version of bazel and rules_python you use? I just tried to set it up, but it fails on this line (there's no field native.bazel_version)

https://github.com/bazelbuild/rules_python/blob/e0a78297164ad8eacabc965111ff19d4e4144786/third_party/github.com/bazelbuild/bazel-skylib/lib/versions.bzl#L91

----
BTW I can confirm pip_parse works for me (at least to some extent)

[2022-08-24 17:21] TRL-Official opened #3884 "Add functionality that will allow you to add code source and javadoc."
### Description of the feature request:

Add functionality that will allow you to add `CodeSource` and `JavaDoc`.

Similar functionality which has `Intellij Idea` for `Maven`
[Image link](https://www.google.com/imgres?imgurl=https%3A%2F%2Fvocon-it.com%2Fwp-content%2Fuploads%2F2021%2F02%2F2021-02-24-22_52_50-2021-02-24-22_48_47-IntellijDesktop2-intellij-desktop-75c598884d-x8d6s_1-%25E2%2580%2593-.p

[2022-08-24 19:24] maxlepikhin commented on #2239
Hi Tomasz,

Here is WORKSPACE part:
#
# Python core rules. Rules bundled into bazel are being deprecated in favor
of
# rules loaded in WORKSPACE.
#
http_archive(
name = "rules_python",
sha256 = "a3a6e99f497be089f81ec082882e40246bfd435f52f4e82f37e89449b04573f6",
strip_prefix = "rules_python-0.10.2",
url = "
https://github.com/bazelbuild/rules_python/archive/refs/tags/0.10.2.tar.gz",
)

***@***.***_

[2022-08-25 12:52] tpasternak commented on #2239
And what's your bazel version?

[2022-08-25 13:38] maxlepikhin commented on #2239
5.2.0

On Thu, Aug 25, 2022 at 6:53 AM Tomasz Pasternak ***@***.***>
wrote:

[2022-08-25 13:48] vasiliy-bout commented on #1341
Exception still gets logged, plugin version `2022.08.09.0.1-api-version-221`

[2022-08-25 14:02] tpasternak commented on #2239
Oh, so do you mean pip_parse or pip_install?

[2022-08-25 15:40] maxlepikhin commented on #2239
We use pip_parse as dependencies are fetched lazily
<https://github.com/bazelbuild/rules_python#fetch-pip-dependencies-lazily>
in that case. Both pip_install and pip_parse generate bazel repositories
with the same directory structure, for example for absl-py:
$ ls bazel-repo/external/pip_absl_py
absl_py-1.2.0-py3-none-any.whl  BUILD.bazel  *site-packages*  WORKSPACE
$ ls bazel-repo/external/pip_ab

[2022-08-25 16:13] mai93 commented on #3877
I think this is caused by https://github.com/bazelbuild/intellij/commit/0e1479a74e7bfcc73419ad945572ae63d694cb85, I reached out to the author and they are looking into it.

[2022-08-25 16:40] dhalperi commented on #3877
In case it helps, here's my `~/.bazelrc`

[code]

and here's my preferences window

<img width="982" alt="Screen Shot 2022-08-25 at 9 40 19 AM" src="https://user-images.githubusercontent.com/526415/186722029-043f567f-e8b4-47ee-abe1-bf29872cb108.png">

[2022-08-25 21:12] nikunjy commented on #2301
Do you have any plans to support this ?

[2022-08-26 00:28] thirtyseven commented on #350
A workaround we use is to have the python source root be separately listed in the `directories:` section of the project view file. However, for this to work, none of its parent directories (including `.`) can be listed.

[2022-08-26 00:29] thirtyseven commented on #3783
I believe this is related to (and possibly a dup) of https://github.com/bazelbuild/intellij/issues/350.

[2022-08-26 23:59] uri-canva opened #3891 "Sync stuck (deadlocked?) 2022.08.24.0.1-api-version-222"
### Description of the bug:

Plugin stuck when doing an incremental sync:

Console shows (the warning is a red herring, I left it in case it matters, but usually everything works fine even with the warning):
[code]

There are no bazel processes left, idle or otherwise.

Output of jstack:
https://gist.github.com/uri-canva/fb52a9b2ce804aa8a94eef69f880ed50

### What's the simplest, easiest way to rep

[2022-08-27 01:31] nikunjy opened #3892 "Run single kotest test"
### Description of the feature request:

Ability to run a single kotest test so that not all the tests need to run.
If you write kotest today it is possible to write this bazel plugin so that it runs an entire class. But not a particular test within the class. This is because kotest does not use methods to write tests.

In this feature a play button will appear next to the kotest `describe` and `i

[2022-08-28 22:53] qq7te commented on #3852
I'm really lagging behind here. My apologies. I think you're probably right with your suggestion, I need a moment to test these... please don't close my ticket as abandoned yet... :grin:

[2022-08-29 05:21] uri-canva commented on #3891
No sorry, don't have a repro, it doesn't even consistently repro in my repo, it just happens sometimes.

[2022-08-29 06:30] uri-canva commented on #3891
Yeah I get that, I figured something in the jstack output might jump out at someone, but if not then feel free to close the issue. Retrying seems to solve it anyway.

[2022-08-29 15:47] thomaslangston-mongodb commented on #350
Copying my understanding of the problem from my duplicate issue: https://github.com/bazelbuild/intellij/issues/3783

The Bazel IntelliJ plugin appears to detect IntelliJ project source roots by the presence of specific Java centric identifiers.

https://github.com/bazelbuild/intellij/blob/master/java/src/com/google/idea/blaze/java/sync/source/SourceDirectoryCalculator.java

Manually editing the so

[2022-08-30 01:21] mai93 commented on #3784
Hello @thomaslangston-mongodb, I tried using the above .bazelproject with rules_python repo and I had to remove the `/` at the beginning of the `test_sources` path, i.e. using `python/tests/*` instead of `/python/tests/*` and the folder was marked as test source.

I also tried adding a java test under this same directory and it continued to be marked as a test source.

[2022-08-30 11:52] tpasternak commented on #2093
Hey @therearesomewhocallmetim, debugging works for me, despite the error you mentioned (I get it, too)

[2022-08-30 13:18] Sammra-22 commented on #3867
Steps to reproduce the issue:
- Create an `android_library` that bundles an arbitrary layout under `layout` folder
- Declare a style that extends an android theme ex `parent="android:Theme.Holo.Dialog"` in resources under `values`
- Import the project in a bazel project view and sync
- Check the `design` tab of the layout editor for the created layout, the created style is listed in `Theme` dropdo

[2022-08-30 17:37] cessien commented on #2239
Just leaving a comment for those looking for a workaround: I managed to workaround this issue by downgrading rules_python to `0.9.0` (this may not be a solution for everyone)

[code]

[2022-08-30 23:02] mai93 commented on #3690
I'm not sure but maybe this can help: https://ij.bazel.build/docs/run-configurations.html#variable-expansion
So you example should be: --instrumentation_filter=${MODULE_WORKING_DIR}

[2022-08-31 07:02] kkpattern commented on #295
kitterion's solution works for us.

[2022-08-31 14:31] tpasternak opened #3895 "Auto Import Feature might cause conflicts with other build tools"
### Description of the bug:

Recently, we've introduced Auto Import feature in #3601. It works correctly but seems to be conflicting with other build tools. If you have more than one plugin that is able to import a project, bazel will always take precedence.

The root cause is that, the `AutoImportProjectOpenProcessor`'s `canOpenProject` field is doing only a very brief check - only if there is a

[2022-08-31 14:31] tpasternak commented on #3895
cc @liucijus @jastice

[2022-08-31 14:31] tpasternak commented on #3895
IMO it would be reasonable to create a settings checkbox that could set `isStrongProjectInfoHolder` then

[2022-08-31 23:11] mai93 commented on #1795
@beasleyr-vmw are you still seeing this problem with more recent versions of the plugin? If so, please provide us with more details on how to reproduce it?

[2022-09-01 05:53] liucijus commented on #3895
I think `isStrongProjectInfoHolder` override should be removed as it does no make much sense in auto import, which should run last. I'll send a PR with the change.

[2022-09-01 07:44] GuoshunWu commented on #3817
Hi @sgowroji ，What else do you want me to help you to get this issue fix? I you do, please don't hesitate to contact me.
Thanks.

[2022-09-01 09:30] tpasternak commented on #3895
Sorry, @liucijus, I haven't noticed your comment. How about keeping possibility to make it enforced via a checkbox? #3902

[2022-09-01 19:36] beasleyr-vmw commented on #1795
@mai93 We patched around this internally. :) That said, I assume that this has gone away since Bazel 4.0.0 as a result of https://github.com/bazelbuild/bazel/commit/f213ee57fb9a4996c2e3d477225f4f079baa9893. Thanks for following up.

[2022-09-01 19:36] #1795 closed

[2022-09-02 22:00] mai93 commented on #1935
Hello @LMXKO, are you still seeing this issue after applying @subotic suggestion or with new versions of the plugin?

[2022-09-02 22:41] mai93 commented on #3758
Hello @abhillman, based on [this check](https://github.com/bazelbuild/intellij/blob/master/skylark/src/com/google/idea/blaze/skylark/debugger/run/SkylarkDebugRunner.java#L69) Starlark debugging is only available for build commands. So you need to create a run configuration with the bazel command set to `build` and the debugging should be enabled for it.

[2022-09-03 05:02] saxicek commented on #3895
For me it is more pain than gain. I have a large monorepo with just one part of it migrated to bazel and I cannot open my .idea project because of bazel auto import. If I want to open the project as bazel project, I can open the .ijwb, right? And with WSL I am getting plugin error `java.util.concurrent.ExecutionException: com.google.idea.blaze.base.command.info.BlazeInfoException: blaze info faile

[2022-09-03 14:19] dkkb opened #3905 "Is it possible to support AppCode?"
### Description of the feature request:

The jetbrains IDEs are great, and I wanna try to use AppCode to write swift project. It seems that bazel has already supported swift and Xcode. Could you support AppCode?

### What underlying problem are you trying to solve with this feature?

_No response_

### What operating system, Intellij IDE and programming languages are you using? Please provide spec

[2022-09-05 16:30] TylerCarberry commented on #3703
I also worked around this by adding

[code]

to my `.aswb/.bazelproject` file

[2022-09-07 17:05] nikunjy commented on #3892
@sgowroji  yes it doesn't actually use `kotest` though

[2022-09-08 15:18] kreempuff opened #3908 "Unresolved type in Goland go code"
### Description of the bug:

For some reason the types from external packages don't resolve. The code I'm working on compiles just fine.

![Screenshot 2022-09-08 at 11 14 40@2x](https://user-images.githubusercontent.com/10726831/189159882-7c4c2f53-8e04-4e98-827d-f2acc642b95d.png)

The external code shows up as flat individual files in Goland.
![Screenshot 2022-09-08 at 11 17 36@2x](https://user-im

[2022-09-08 17:06] kreempuff commented on #3908
It also happens in intellij
![Screenshot 2022-09-08 at 13 05 42@2x](https://user-images.githubusercontent.com/10726831/189183013-4f6c874c-bf02-4de2-ade0-d7058a6d00fe.png)

[2022-09-09 01:59] TylerCarberry commented on #2328
Fixed in version v2022.08.24

https://github.com/bazelbuild/intellij/releases/tag/v2022.08.24-stable

[2022-09-09 14:50] blorente commented on #3216
Re-opening, as per the discussion during the community sync.

[2022-09-09 21:34] Bencodes commented on #2765
@sgowroji would you be able to help triage this one?

[2022-09-09 21:34] mai93 commented on #3877
This issue should be fixed in the new plugin version (2022.09.07.0.1-api-version-222) currently in [Beta channel ](https://plugins.jetbrains.com/plugin/8609-bazel/versions/beta). You can follow the instructions [here](https://github.com/bazelbuild/intellij#beta-versions) to install it. Please reopen if the issue is still reproducible.

[2022-09-09 21:34] #3877 closed

[2022-09-10 11:56] kreempuff commented on #3908
I figured out the issue. Goland by default doesn't provide code insight for files bigger than `2MB`. The type that wasn't resolving was from a file that was `6MB`. I had to raise the limit according to this [SO question](https://stackoverflow.com/questions/23057988/file-size-exceeds-configured-limit-2560000-code-insight-features-not-availabl). I can close this out. Thanks!

[2022-09-10 11:56] #3908 closed

[2022-09-11 05:40] ittaiz opened #3919 "[New sync Window] Java fast test compilation failure does not output a link"
### Description of the bug:

Java fast test has the ability to output a "rerun" link when compilation fails under the assumption that it's likely the next run with bazel will fix the issue.
After moving from "bazel console" to the new console this stopped working.
https://github.com/bazelbuild/intellij/blob/53f9331fe83de4c57c7116b507b3d1ea87a59569/java/src/com/google/idea/blaze/java/run/fastbuild/

[2022-09-12 08:58] ittaiz commented on #3919
Hi @sgowroji I wrote in the issue a reproducible example. Is it not clear? It took me many hours to be honest to be able to nail it down since I'm working on something adjacent and it wasn't easily to get a minimal issue.

Btw,
I just now saw your reply and wanted to share that I have a fix for the issue https://github.com/wix-playground/intellij/commit/5f34f3e7632ef79a5e00c08ad2b2ba21e69c7f72

[2022-09-12 09:35] ittaiz commented on #3919
Sure thing https://github.com/bazelbuild/intellij/pull/3921

[2022-09-13 12:16] mik90 commented on #3706
Looks like this was either fixed with 2022.08.24.0.1-api-version-222 or it started to work for some other reason

[2022-09-13 12:16] #3706 closed

[2022-09-13 15:32] ittaiz commented on #3919
I think the problem is the experiment for the new bazel console.
Any chance you know if you had the experiment on or off when trying to reproduce?
If you're not sure I'll follow the instructions again and this time I'll explicitly turn on the experiment

[2022-09-14 02:42] GuoshunWu commented on #3817
Hi Guys,
How is this going? I'm waiting for using this. Hope to solve it quickly.

[2022-09-14 04:29] raoarun commented on #2101
adding feedback from brandon adams (sorry i don't know their github handle):

debugging with clion works pretty well if you have a gdbinit which can detect running inside an execroot and add that to gdb's list of directories.  Having this line: maybe_execroot = re.match(r'^(.*/bazel/_bazel_.*/.*/execroot/roadrunner/).*', filename)’.

[2022-09-14 04:44] kkpattern commented on #2101
I don't know if this will help, we are able to debug Android native in AndroidStudio build with bazel. The key is adding `build --copt="-fdebug-compilation-dir" --copt="/proc/self/cwd"`. We need similar flags to debug iOS app in XCode that build with bazel.

It often caused by the sandbox path in symbols. above flag will replace the absolute paths in sandbox with cwd.

See #295

[2022-09-14 12:18] ittaiz commented on #3919
1. Checkout IJ plugin repository at commit d07856ca1ed16b34419e0c76055e46a973a91d8d (was the head when I did the repro)
2. Edit `common/experiments/src/com/google/idea/common/experiments/experiment.properties` and set `blazeconsole.v2.rollout=100` (to make sure you get the new sync window)
3. build the plugin `bazel build --define=ij_product=intellij-2021.2 --tool_java_runtime_version=remotejdk_11

[2022-09-14 13:07] ittaiz opened #3928 "Bazel build of the plugin fails on a fresh machine"
### Description of the bug:

If you try to build the plugin without having java installed and you run
`bazel build --define=ij_product=intellij-2021.2 //ijwb:ijwb_bazel_zip`
You get:
[code]
When I ran
`bazel build --define=ij_product=intellij-2021.2 --tool_java_runtime_version=remotejdk_11 --java_runtime_version=remotejdk_11 --java_language_version=8 --tool_java_language_version=11 //ijwb:ijwb_baz

[2022-09-14 16:02] Bencodes commented on #1957
@sgowroji would you be able to help triage this one as well?

[2022-09-15 20:00] ThomasGreenhill commented on #2958
Do any of you have updates on more sustainable solutions for this issue?

[2022-09-15 23:12] kamildoleglo commented on #3670
Yeah, sorry, got a lot of work lately. I'll try to keep the discussion for this issue and the two PRs (https://github.com/bazelbuild/intellij/pull/3671/, https://github.com/bazelbuild/intellij/pull/3832/) here.

Just try to create any custom `SourceFolderProvider ` and mark directories as test ones. My use case is that I'm writing a Python language support, we use custom Python rules internally an

[2022-09-17 02:57] mai93 commented on #1935
I'll close the issue. If you still can reproduce it, please reopen.

[2022-09-17 02:57] #1935 closed

[2022-09-17 02:58] mai93 commented on #3690
I'll close this issue. If the suggested solution is not working, please reopen.

[2022-09-17 02:58] #3690 closed

[2022-09-17 06:58] mai93 commented on #2314
Closing since the plugin now supports the latest versions of IntelliJ and CLion.

[2022-09-17 06:58] #2314 closed

[2022-09-17 06:59] mai93 commented on #1971
Closing as the plugin is now compatible with the latest CLion version.

[2022-09-17 06:59] #1971 closed

[2022-09-17 07:20] mai93 commented on #1313
@nkoroste are you still seeing this with new versions of the plugin/IDE?

[2022-09-17 08:19] jastice commented on #3876
We are now releasing up-to-date versions for current IJ releases, so I think this is obsolete?

[2022-09-17 19:22] Elentary commented on #3752
fixed by #3901

[2022-09-17 19:22] #3752 closed

[2022-09-18 04:20] mai93 commented on #3876
I agree, I'll close this issue.

[2022-09-18 04:20] #3876 closed

[2022-09-18 07:52] LittleWat opened #3938 "Bazel plugin removed the dafalt `Go Test` Run/Debug configurations."
#### Description of the issue. Please be specific.

Thank you for developing the nice plugin!
I am almost a beginner to bazel and intellij.

My project uses bazel and sometimes I would like to run `bazel test`, but most of the time I would like to run `go test`

But after I enabled the bazel plugin, the following default `go test` run/debug configuration UI was replaced with the bazel configuratio

[2022-09-19 23:03] raoarun commented on #2101
update from isaac torres (seems similar to what @kkpattern has written above).

Hey all just wanted to give an update that I was able to implement a workaround for this issue.
The problem seems to be that the debug binaries have the sandbox source paths (execroot) in them, and Clion (at least on macos), doesn't handle that. Mapping the execroot paths to the canonical paths fixes the problem.  Prob

[2022-09-22 16:18] liucijus commented on #3433
Are multiple packages objects handled correctly with other build tools in Intelij, like SBT? I wonder if there is something missing in Bazel plugin in regards to Scala support, or is it an issue in Scala plugin.

[2022-09-22 16:59] emidln-imc commented on #2101
Strictly speaking, my attached solution doesn't work very well for macos (given that you need a signed gdb which doesn't exist by default), but the general idea with lldb is the same as what I do for gdb. My solution works for gdb (if you happen to sign one) on MacOS and Linux:

https://gist.github.com/emidln-imc/54e69ed6b89cac9197d650222e6b18d9

[2022-09-22 21:49] marcelluiz96 commented on #2258
Bumping. This is still an issue on the latest beta channel of Bazel + latest version of IntelliJ

BlazeJavaRunConfigurationHandlerProvider becomes BlazeCommandGenericRunConfigurationHandlerProvider on sync

[2022-09-23 13:13] rdesgroppes commented on #2032
On my maching, `strace`ing the `fsnotifier` process indeed shows _millions_ of watches on Bazel cache entries looking like:
[code]

[2022-09-23 14:31] rdesgroppes commented on #2032
A workaround consists in a filtering wrapper script:
[code]

[2022-09-23 19:38] #3662 closed

[2022-09-23 20:35] mai93 commented on #3726
@abhillman I see that we mention this in the repo README [here](https://github.com/bazelbuild/intellij#compatibility-with-ide-versions) and instructions about using existing .bazelproject files are mentioned in the last line of [Building the plugin](https://github.com/bazelbuild/intellij#building-the-plugin) section
"You can import the project into IntelliJ (with the Bazel plugin) via importing th

[2022-09-23 21:26] mai93 commented on #3702
Hello @aryeh-looker, can you give us an example of a project where you see this issue? I can see the documentation when I try with [this example kotlin project](https://github.com/bazelbuild/intellij/tree/master/examples/kotlin/simple_project)

![image](https://user-images.githubusercontent.com/70515749/192058920-4b402934-c47c-4909-ab71-57d2c6b9d937.png)

[2022-09-23 22:21] mai93 commented on #3757
@abhillman I think you can use a different **Project data directory** (in the first field at this step)
![image](https://user-images.githubusercontent.com/70515749/192064186-fb9b756e-0afc-49ef-a039-f7ba25bca548.png)

this will create the .ijwb in the directory you specify.

[2022-09-25 16:05] qq7te commented on #3852
I have some updates:
This happens because I am using `bazelisk` . Instead of having a proper `bazel` installed, my `bazel` executable is really a script that selects the right version of bazel for my project and downloads and runs it.

In order to run `bazelisk` , `node` needs to be in the path, since `bazelisk` is a javascript tool.

In my case, `node` is in the `PATH` when I use the terminal, bu

[2022-09-25 19:13] sgowroji commented on #3852
Thank you for the update!

[2022-09-27 04:25] #3852 closed

[2022-09-27 04:28] sgowroji commented on #3804
I'll close the issue. If you still can reproduce it, please reopen.

[2022-09-27 04:28] #3804 closed

[2022-09-27 04:29] sgowroji commented on #3784
Hello @thomaslangston-mongodb, Did you get a chance to check the above [comment](https://github.com/bazelbuild/intellij/issues/3784#issuecomment-1231034367). Thanks!

[2022-09-27 04:31] sgowroji commented on #3758
I'll close the issue. If you still can reproduce it, please reopen.

[2022-09-27 04:31] #3758 closed

[2022-09-27 04:32] sgowroji commented on #3757
Hello @abhillman, Could you please check the [resolution](https://github.com/bazelbuild/intellij/issues/3757#issuecomment-1256732019) provided in the above comment. Thanks!

[2022-09-27 04:33] sgowroji commented on #3746
I'll close the issue. If you still can reproduce it, please reopen.

[2022-09-27 04:33] #3746 closed

[2022-09-27 04:33] sgowroji commented on #3729
I'll close the issue. If you still can reproduce it, please reopen.

[2022-09-27 04:34] sgowroji commented on #3587
I'll close the issue. If you still can reproduce it, please reopen.

[2022-09-27 04:34] #3587 closed

[2022-09-27 04:35] sgowroji commented on #3499
I'll close the issue. Let us know if you are still looking resolution for the above issue.

[2022-09-27 04:35] sgowroji commented on #1910
I'll close the issue. If you still can reproduce it, please reopen.

[2022-09-27 04:35] #1910 closed

[2022-09-27 04:36] sgowroji commented on #1759
I'll close the issue. If you still can reproduce it, please reopen.

[2022-09-27 04:36] #1759 closed

[2022-09-27 04:36] sgowroji commented on #1521
I'll close the issue. If you still can reproduce it, please reopen.

[2022-09-27 04:36] #1521 closed

[2022-09-27 04:36] sgowroji commented on #1289
I'll close the issue. If you still can reproduce it, please reopen.

[2022-09-27 04:36] #1289 closed

[2022-09-27 04:36] sgowroji commented on #888
I'll close the issue. If you still can reproduce it, please reopen.

[2022-09-27 04:36] #888 closed

[2022-09-27 09:11] edposinitckii-hf commented on #3938
I have provided a test repository to reproduce this behaviour: https://github.com/bazelbuild/intellij/issues/3527

[2022-09-27 21:44] mai93 commented on #3730
Fixed with a1e7637a2d2f5776455ad7fb364c043717e37349

[2022-09-27 21:44] #3730 closed

[2022-09-27 23:15] DeCarabas commented on #3424
I am also having this problem. Why would I need or want a JDK 11 when my whole project is using JDK 8?

[2022-09-28 13:04] sgowroji commented on #3622
Hello @kamildoleglo, Could you please confirm if you are still seeing the crash and screen freeze even with the latest IntelliJ release. And can you share complete steps followed to check the above with the code repo. Thanks !

[2022-09-28 13:19] sgowroji commented on #3407
Hello @exp0nge, Could you please test the above with the latest release and share the update. Thanks !

[2022-09-28 19:39] isaactorz commented on #2101
There's a couple ideas that are floating around for kicking a general solution upstream now that it seems the root issue has been identified:
- Clion has a feature that allows users to remap source paths in order to debug binaries that were built on other machines. It implies there might be an API for doing this, and that API could be used to fix the mac debugging issue (we simply map the workspac

[2022-09-29 07:22] sgowroji commented on #3038
I will close this issue as there are no complete steps. Please reopen if you can reproduce with latest bazel plugin and clion release. Thanks !

[2022-09-29 07:22] #3038 closed

[2022-09-29 07:36] sgowroji commented on #3007
Hello @SamuelMarks, Have you tried importing directly? Could you please reply with complete reproduced steps, once you see the same observation . Thanks!

[2022-09-29 07:39] sgowroji commented on #2998
We are closing this issue due to inadequate details! Please reopen if you can update with complete reproduce steps!

[2022-09-29 07:39] #2998 closed

[2022-09-29 10:42] sgowroji commented on #3733
Hello @abhillman, Could you please elaborate your query with complete details. Thanks!

[2022-09-29 10:47] sgowroji commented on #3759
Hello @bdleitner, Could you please  confirm are you still seeing this with the latest release and also for non bazel projects ?

[2022-09-29 11:08] abhillman commented on #3757
This is certainly a workaround. Supposing `.ijwb/**/*` is checked into source control or one reinstalls IntelliJ -- it seems reasonable to be able to import without recreation.

[2022-09-29 11:09] abhillman commented on #3729
The example above is from this repo, i.e. https://github.com/bazelbuild/intellij/blob/fe1c1e884cd8654aa90461cd941905116b301bef/aswb/BUILD#L166

[2022-09-30 06:42] sgowroji commented on #2392
Closing this issue as it is fixed from the above PR #2876 and reference https://github.com/bazelbuild/intellij/issues/2874#issuecomment-903960702

[2022-09-30 06:42] #2392 closed

[2022-09-30 06:53] sgowroji commented on #2414
Duplicate of https://github.com/bazelbuild/intellij/issues/3425

[2022-09-30 06:53] #2414 closed

[2022-09-30 06:53] sgowroji commented on #2413
Duplicate of https://github.com/bazelbuild/intellij/issues/3425

[2022-09-30 06:53] #2413 closed

[2022-09-30 06:58] sunqi1993 commented on #2101
debugging works on linux platform, i have ever used this feature on manjaro but got stuck on macos  :(

[2022-09-30 18:29] mai93 commented on #3919
Thank you @ittaiz for reporting this, I replied to https://github.com/bazelbuild/intellij/pull/3921.

Also thanks for pointing out that there is a problem with fast-test in 2022.2, do you have any findings that can help us fix it?

[2022-10-01 05:01] mai93 commented on #3757
I think in these cases opening the project with the IDE Open action should work, as you do not need to reimport it with the plugin. I tried using Open and pointing to the directory containing the `.ijwb` and it worked.

[2022-10-01 18:07] JamesRTaylor commented on #3759
I'm still seeing this with the latest bazel plugin, @sgowroji

[2022-10-01 18:09] bdleitner commented on #3759
Yes, I'm still seeing it in the latest version.  Non-bazel projects are not (and were never) affected.

[2022-10-03 12:25] sgowroji commented on #2603
Hello @kekxv, Could you please provide an example to verify the above error. Thanks!

[2022-10-03 14:35] exp0nge commented on #3407
I no longer face this, also the workaround did work before

[2022-10-03 14:35] #3407 closed

[2022-10-03 14:54] kekxv commented on #2603
@sgowroji Waiting https://github.com/bazelbuild/intellij/issues/2101

[2022-10-04 06:16] sgowroji commented on #3734
Hello @timduly4, I see the filenames are changed to proto and we are able to open and sync properly with bazel plugin. Could you please confirm if you are still looking unsynced error as mentioned in the above issue. Thanks!

[2022-10-04 09:10] sgowroji commented on #3732
Hello @abhillman, Can you share an example repo to test the above scenario. Thanks!

[2022-10-05 15:25] joaogarcia940 commented on #3112
any news regarding this?

[2022-10-06 07:24] sgowroji commented on #3729
Dupe of https://github.com/bazelbuild/intellij/issues/3728

[2022-10-06 07:30] sgowroji commented on #3703
Thanks for sharing the above workarounds.  Did you get a chance to try the above Shared workarounds. Are you still looking resolution on this request.

[2022-10-06 07:44] sgowroji commented on #3678
Hello @wingdi, Could you please elaborate your query with complete details and minimal steps to reproduce it. Thanks!

[2022-10-06 07:47] sgowroji commented on #3653
Hello @rdesgroppes, Could you please verify the above with the latest release and let us know if you still see the error. Thanks!

[2022-10-06 07:59] rdesgroppes commented on #3653
Hi @sgowroji, thanks for asking. Well, no, the problem seems to have gone away over plugin updates.
`blaze`-related stack traces I still observe:
[code]
[code]
[code]

[2022-10-06 08:52] rdesgroppes commented on #3653
The following one shouldn't be hard to reproduce as it happens when loading any Bazel project:
[code]
My environment:
- Bazel 2022.09.07.0.1-api-version-222
- IntelliJ IDEA 2022.2.2 (Community Edition)
- Build #IC-222.4167.29, built on September 13, 2022
- Runtime version: 17.0.4+7-b469.53 amd64
- VM: OpenJDK 64-Bit Server VM by JetBrains s.r.o.
- OS: Ubuntu 22.04.1 LTS

As the other ones happen w

[2022-10-06 18:05] kkpattern commented on #2101
If considering remote cache and remote execution, making sure debugging info doesn't contain absolute paths is a preferable way.

[2022-10-06 22:39] JamyDev opened #4001 "Installing the Bazel Plugin on the client when using Jetbrains Gateway causes some inconsistent UI"
### Description of the bug:

If you have a gateway instance with the bBazel plugin active (.ijwb opened and working) and you install the Bazel Plugin into the Client (within Jetbrains client there's 2 places to install plugins, `Plugins (On Host)` aka the remote server; and `Plugins` aka the Jetbrains Client); the Bazel menu in the toolbar will not show. Likely because the client doesn't consider

[2022-10-07 05:37] sgowroji commented on #3134
Hello @duguying, Did you get a chance to check this [comment](https://github.com/bazelbuild/intellij/issues/3134#issuecomment-1107353320) . Are you still looking resolution for the above issue. Thanks!

[2022-10-07 05:55] sgowroji commented on #3326
Hello @dhalperi, Could you please reply if you still looking support for this issue with new Intellij release. Mostly the issue vanishes by restarting the IDE. Thanks!

[2022-10-07 05:57] sgowroji commented on #4001
Hello @JamyDev, Could you please share the inconsistent UI screen and sample project used to test the above. Thanks!

[2022-10-07 06:10] sgowroji commented on #3329
Hello @jameslan, Could you please check this with latest release and let us know if you still seeing the same error. Thanks!

[2022-10-07 06:12] sgowroji commented on #3349
Hello @huange1234, Could you please try the above with latest intellij and bazel plugin versions.  And reach us back with complete repro steps, if you still see the error . Thanks!

[2022-10-07 06:14] sgowroji commented on #3352
Hello @RedwanFox, Are you still seeing the issue with the latest bazel plugin and intellij releases. Could you please reply if you are still looking resolution on the above issue. Thanks!

[2022-10-07 06:29] sgowroji commented on #3106
Hello @liucijus, Above PR https://github.com/wix-playground/intellij/pull/69 looks merged. Anything is  pending  to close this issue ?

[2022-10-07 06:30] sgowroji commented on #3182
Hello @ronilichtman, Could you please respond if you still see the same with the latest release of intellij and bazel plugin. Thanks!

[2022-10-07 06:33] sgowroji commented on #3378
Hello @FabienLamonarca, Are you still seeing the same observation with the latest release of intellij and bazel plugin. Could you please provide more details on the above request. Thanks!

[2022-10-07 07:54] RedwanFox commented on #3352
@sgowroji

CLion 2022.2.3 Build #CL-222.4167.35, built on September 15, 2022
plugin 2022.09.07.0.1-api-version-222

Issue still reproduces on demo project on fresh install

[2022-10-07 17:24] jameslan commented on #3329
Hi @sgowroji, verified on IntelliJ IDEA 2022.2.2 Build #IU-222.4167.29, with Bazel plugin 2022.09.20.0.1-api-version-222, the go code in the project successfully loaded within the IDE!

Thanks!

[2022-10-07 17:24] #3329 closed

[2022-10-07 19:57] edio commented on #3106
@sgowroji , from what I see, the default value of the `autoscrollToConsole` in the master branch is still `false`
https://github.com/bazelbuild/intellij/blob/master/base/src/com/google/idea/blaze/base/ui/problems/ProblemsViewConfiguration.java#L33

Please note, the https://github.com/wix-playground/intellij/pull/69 adresses the issue in our private fork.
However we'd like this change to be accepte

[2022-10-10 05:00] sgowroji commented on #3252
Hello @joca-bt, If you are still looking resolution for this issue, Could  you please  provide a example code to verify the above request. Thanks!

[2022-10-10 05:04] sgowroji commented on #3267
Hello @xtoolkit, Are you still seeing the issue with the latest intellij and bazel plugin release ? I see the above issue is fixed in [bazel](https://github.com/bazelbuild/bazel/issues/11618).

[2022-10-10 06:14] sgowroji commented on #2996
Hello @bbqe1314, Could you please confirm whether you are seeing the above issue with latest intellij and bazel plugin ? Can you provide a minimal steps to reproduce it. Thanks!

[2022-10-10 06:21] sgowroji commented on #3061
Hello @keithl-stripe & @dfinninger,  Could you please confirm if you are still seeing the above performance issue even with the latest intellij and bazel plugin releases. Thanks!

[2022-10-10 06:26] sgowroji commented on #3063
Dupe of #3112

[2022-10-10 06:32] sgowroji commented on #3226
Hello @sualehasif, Could you please confirm if you are still seeing the above issue with latest Clion and bazel plugins ? Thanks.

[2022-10-10 06:34] sgowroji commented on #3243
Hello @pkrishnaiah, Is above your issue resolved with latest intellij and bazel plugin ? Could you please provide more information on the above request if you are still looking for support. Thanks!

[2022-10-10 08:10] sgowroji commented on #2368
Hello @comius, Closing this issue as the changes in the PR are not available in the intellij code base. Please feel free to reopen if  the issue still persists.

[2022-10-10 10:34] dfinninger commented on #3061
I believe I'm up to date on minor versions (probably a few patches behind), and I'm still seeing the issue. However I'm on PTO this week so I won't be able to test for a little bit.

I'll upgrade next week and try it out again.

[2022-10-10 19:50] stabai commented on #3112
@dpoluyanov any chance you could open source this?

[2022-10-10 20:02] dpoluyanov commented on #3112
I've opensourced it there https://github.com/dpoluyanov/bazel-wsl

[2022-10-10 20:39] JamyDev commented on #4001
@sgowroji as I went to try and repro this, it seemed like the plugin isn't available for the client and it was more of an issue on our side. Closing.

[2022-10-10 20:39] #4001 closed

[2022-10-11 03:18] Sxxjava commented on #1982
I get the same crash in the Ultimate Edition and 2022.2.3

[2022-10-11 08:52] bbqe1314 commented on #2996
When I asked this question, I was using the latest version of the intellij and bazel plugin. Sorry, I can't reproduce this problem now, because I left the last company, and it was a problem when loading the monorepo of the previous company, and I can't get that project now.

------------------&nbsp;原始邮件&nbsp;------------------
发件人:

[2022-10-11 09:12] fmeum opened #4008 "Absolute main repo target expressions aren't accepted"
### Description of the bug:

Since https://github.com/bazelbuild/bazel/commit/b1113f801da87ed2e089ff4122aa13400c177804, the labels Bazel emits for targets in the main repo often start with `@//`. However, such targets aren't accepted by the IntelliJ plugin with the following error:

[code]

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

T

[2022-10-11 09:29] fmeum commented on #4008
@mai93 I have a very small fix with unit test coverage at https://github.com/bazelbuild/intellij/pull/4009. Could you review?

CC @Wyverald

[2022-10-12 11:35] sgowroji commented on #3081
Hello @aSemy, Above behaviour is as per the UI design, We have shared your request with team and let's hear if this can be consider or not.

[2022-10-12 11:37] sgowroji commented on #3070
Hello @coreywoodfield, Are you still looking resolution for the above query. Thanks!

[2022-10-12 11:41] sgowroji commented on #2750
Hello @th0masb, Are you still looking for support on the above issue and have you tried the steps mentioned in the above [comment](https://github.com/bazelbuild/intellij/issues/2750#issuecomment-912972409) . Thanks!

[2022-10-12 11:44] sgowroji commented on #3221
Thanks for sharing your resolution and Glad to see you resolve. We are closing this issue now. Please feel free to reach us if you have any further queries.

[2022-10-12 11:46] sgowroji commented on #2992
Thanks for sharing your workaround. We are closing this issue now. Feel free to reach us if you still looking for any support.

[2022-10-12 11:49] sgowroji commented on #3241
Hello @fkeidelbmw, Are you still looking support for the above issue. Could you please share complete steps to reproduce the above request. Thanks!

[2022-10-12 11:52] sgowroji commented on #3623
Hello @kamildoleglo, Could you please elaborate your request with complete details and minimal steps to reproduce it. Thanks!

[2022-10-12 11:56] fkeidelbmw commented on #3241
Yes I still have the problem and am looking for a solution. First, I will check if there are newer versions of Clion/bazel plugin, then I will supply you with updated information and the steps.

[2022-10-12 11:57] gergelytraveltime commented on #2992
Is this solved?

[2022-10-12 11:59] sgowroji commented on #2992
@gergelyfabian, Are you looking for support on this issue. I see you posting the workarounds in the above comments.

[2022-10-12 12:01] sgowroji commented on #3241
Thank you for the reply. Please post us the latest update.

[2022-10-12 12:15] sgowroji commented on #3757
Hello @abhillman, Can you try the workaround mentioned in the above [comment](https://github.com/bazelbuild/intellij/issues/3757#issuecomment-1264244003) and share us the update. Thanks!

[2022-10-12 12:20] gergelyfabian commented on #2992
I can still reproduce it with:

[code]

[2022-10-13 00:32] stdll00 commented on #3600
Have you try `build --symlink_prefix=/` to suppress `bazel-*` symlinks?
This seems good workaround in my local env.

`.bazelrc`
[code]
Environment:
IntelliJ 2022.1.4
MacOS(M1Pro)

[2022-10-13 22:16] fkeidelbmw commented on #3241
I updated Clion and the Bazel plugin to the newest versions, and now debugging python targets with python 3.8 interpreter works again for me. That's great.
CLion 2022.2.4
Bazel plugin:  2022.09.20.0.1-api-version-222
Bazel: 5.3.0
Python: 3.8.10

[2022-10-13 22:16] #3241 closed

[2022-10-14 03:47] sgowroji commented on #3203
Dupe of #3112.

[2022-10-14 03:51] sgowroji commented on #3185
Hello @caseyduquettesc, Could you please elaborate your query with more details like how is it related to bazel plugin. Thanks!

[2022-10-14 04:00] sgowroji commented on #3097
Hello @JamesRTaylor, Thank you for sharing the above details. Would  you be interested in sharing the above changes in a PR. I Could arrange a review from google team.

[2022-10-14 19:03] maxhillaert opened #4013 "Error debugging py_binary: "More than 1 executable was produced when building don't know which one to debug""
#### Description of the issue. Please be specific.

I have a bazel repo with simple python app and lib projects.   I can run my app.py file using right-click run.  When I try to debug, I get failure popup on the debug tab that says "More than 1 executable was produced when building don't know which one to debug"

Not clear what other executable it is referring to?

I wonder if its because it produ

[2022-10-14 19:03] #2084 closed

[2022-10-14 19:29] #2328 closed

[2022-10-14 19:40] mai93 commented on #2028
Hello @Lizz0y is this problem reproducible with newer version of the plugin?

[2022-10-14 19:57] mai93 commented on #153
Hello @JackzrLiu Can you still see this error with newer AS and plugin versions? If so, can you provide us with more details about how to reproduce it?

[2022-10-14 20:18] mai93 commented on #3786
Hello @kkpattern I think when you add a target to the targets list all the files reachable from it and its dependencies will be synced. For example in the project view file of the plugin itself, only a small set of targets are declared and their dependencies are built to resolve the relevant code ([ijwb targets example](https://github.com/bazelbuild/intellij/blob/master/ijwb/ijwb.bazelproject#L8))

[2022-10-14 20:44] mai93 commented on #3082
Hello @acrha The command in your question is the one used in the sync operation, I do not think we can remove most of these parameters because they are needed for the plugin to collect information about the project (with the `intellij_info_aspect`) to properly set it up in the IDE. You can add more flags using; [build_flags](https://ij.bazel.build/docs/project-views.html#build_flags) and [sync_fla

[2022-10-14 20:45] #3082 closed

[2022-10-14 20:49] mai93 commented on #2537
Hello @gaobin881201 Do you still get this error with newer plugin and IDE versions? If so, can you provide us with more details about the project and project view file to reproduce this error?

[2022-10-14 20:54] #1631 closed

[2022-10-14 21:51] mai93 commented on #304
Hello @ghost do you still see this issue with the latest version of CLion and the plugin?

[2022-10-14 22:14] mai93 commented on #3152
@liucijus Should this be considered fixed with https://github.com/bazelbuild/intellij/pull/3601?

[2022-10-14 22:18] dfinninger commented on #3061
@sgowroji I've updated to the latest versions I could get in the Jetbrains Toolbox app.
IDEA Version: `IntelliJ IDEA 2022.2.3 (Ultimate Edition), Build #IU-222.4345.14, built on October 4, 2022`
Bazel Plugin version: `2022.09.20.0.1-api-version-222`

And while indexing I still see it looking through my excluded Bazel directories:
[code]

[2022-10-14 22:32] mai93 commented on #3702
Closing the issue, if you can still reproduce it please reopen.

[2022-10-14 22:32] #3702 closed

[2022-10-14 22:34] mai93 commented on #3724
@blorente is helping us with adding instructions on the plugin development and debugging in https://github.com/bazelbuild/intellij/pull/3912

[2022-10-14 22:57] mai93 commented on #3729
Hello @abhillman I was able to see the run icon if I imported the project using [aswb.bazelproject](https://github.com/bazelbuild/intellij/blob/master/aswb/aswb.bazelproject) as in this case the `aswb` directory is included and this test target is included in the imported project view.

<img width="896" alt="Screen Shot 2022-10-14 at 3 47 56 PM" src="https://user-images.githubusercontent.com/70515

[2022-10-14 23:29] mai93 commented on #3731
Hello @abhillman I also used `//:ijwb_common_tests` to run tests and I was able to see the jump to source option when right-clicking on the test results. Can you provide more details on how to reproduce it if you still have the same problem with the latest plugin version?

<img width="896" alt="Screen Shot 2022-10-14 at 4 26 19 PM" src="https://user-images.githubusercontent.com/70515749/195957340-

[2022-10-14 23:38] #3919 closed

[2022-10-15 22:26] SamuelMarks commented on #3007
I posted this issue over a year ago…

[2022-10-16 07:06] sgowroji commented on #3007
Are you still looking support for this above issue ?

[2022-10-17 03:09] fengzengfly commented on #1982
java.lang.Throwable: Executor with context action id: "RunClass" was already registered!
	at com.intellij.openapi.diagnostic.Logger.error(Logger.java:184)
	at com.intellij.execution.ExecutorRegistryImpl.initExecutorActions(ExecutorRegistryImpl.java:100)
	at com.intellij.execution.ExecutorRegistryImpl.init(ExecutorRegistryImpl.java:278)
	at com.intellij.execution.ExecutorRegistryImpl$ExecutorRegist

[2022-10-17 04:46] sgowroji commented on #4013
Hello @maxhillaert, Can you share the code example used in reproducing the above issue. Thanks!

[2022-10-17 07:38] sgowroji commented on #2775
Hello @Laxiyan, Could you please elaborate your issue with complete details and also with minimal steps to reproduce the above issue.

[2022-10-17 07:49] sgowroji commented on #3617
Hello @the-nick-of-time, If you are still looking support for the above issue. could you please provide more details like minimal steps to reproduce it and sample code to test. Thanks!

[2022-10-17 07:55] sgowroji commented on #3600
Hello @brt-alexei, Could you please respond if you are still looking support for the above issue. And have you tried the above suggested workarounds. Thanks!

[2022-10-17 07:58] sgowroji commented on #3614
Hello @lockelee1015, Could you  please respond if you are still looking support on the above issue and also elaborate your query with more details  like sharing the  sample code for reference. Thanks!

[2022-10-17 08:00] sgowroji commented on #3555
Hello @bdleitner, Could you please respond if you are looking support for the above  issue and also provide a sample code to verify the above issue. Thanks!

[2022-10-17 12:24] maxhillaert commented on #4013
Checked in my bazel POC here:

https://github.com/maxhillaert/bazel-issue

[2022-10-17 22:24] brt-alexei commented on #3600
Thank you for follow up.

Somehow I've discovered that issue was linked to enabled "Python Community Edition" plugin. Once I've disabled it, scan passed through. Yet, I cannot reproduce the issue aymore with latest version of Idea and the plugin.

[2022-10-17 22:24] #3600 closed

[2022-10-18 07:11] sgowroji commented on #2318
Hello @ThomasCJY, Could you please reply on this [comment](https://github.com/bazelbuild/intellij/pull/2539#issuecomment-1237661592) we can move this issue and PR in to further good state. Thanks!

[2022-10-18 16:24] sgowroji commented on #2365
Closing this issue w.r.t this [comment](https://github.com/bazelbuild/intellij/pull/3848#issuecomment-1249998647) as it is already rolled out. @decentralgabe could you please verify the latest release and let us know if you have any queries on the same.

[2022-10-18 16:24] #2365 closed

[2022-10-18 21:42] mai93 commented on #102
Hello @likan999 and @omo do you still see this issue with newer versions of the plugin and the IDE?

[2022-10-18 21:52] mai93 commented on #502
Hello @tomrom95 if you still see this problem, please feel free to reopen.

[2022-10-18 21:52] #502 closed

[2022-10-18 21:59] mai93 commented on #1922
Hello @oliviernotteghem do you still see this issue with the latest version of the plugin?

[2022-10-19 09:51] sgowroji commented on #2239
Hello @sudopk & @maxlepikhin,  Could you please respond  if you are still looking support on the above issue. Have you tried the workarounds suggested in the above comments. Thanks!

[2022-10-19 13:41] thomaslangston-mongodb commented on #3784
@sgowroji I'm going to close this issue for now as I don't have the bandwidth to debug exactly what's different about my repo right now.

[2022-10-19 13:41] #3784 closed

[2022-10-19 18:42] thirtyseven opened #4027 "Nested Starlark function (closure) incorrectly highlighted as syntax error"
### Description of the bug:

Despite being valid Starlark, the following code snippet results in a syntax error shown:
<img width="288" alt="Screen Shot 2022-10-19 at 11 40 59 AM" src="https://user-images.githubusercontent.com/123678/196776842-c64ed543-86ec-4a21-9d2e-59f82729cd77.png">

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Put t

[2022-10-19 20:16] thirtyseven commented on #4027
This looks like a pretty simple change to make in the parser, I have a PR ready with tests if anyone can review.

[2022-10-20 00:05] aryeh-looker opened #4028 "Project Sync Slow and Uses Only 1 CPU Core"
### Description of the bug:

Syncing a project is extremely slow and appears to only utilize one core (i.e. is not parallelized).

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Check out _this_ repository; i.e. `intellij/bazelbuild` and attempt to sync the project.

### Which Intellij IDE are you using? Please provide the specific versio

[2022-10-20 07:23] sgowroji commented on #2996
Thanks for update. We are closing this issue now. If any one can reproduce we can reopen it.

[2022-10-20 07:23] #2996 closed

[2022-10-20 12:54] liucijus commented on #3152
Yes, this should be fixed, @mai93

[2022-10-20 12:58] kamildoleglo commented on #3622
Yes, the freezes still happen. Unfortunately, I can't share with you the project nor the projectview, however the reproduction should be fairly easy, just open a large codebase and put many targets in the projectview file. The `toCanonicalPath` invocation is still in the logs. Maybe just changing it to `toAbsolutePath` would be sufficient to fix some of the freezes, since the call is significantly

[2022-10-20 20:14] #4008 closed

[2022-10-20 20:28] #3106 closed

[2022-10-21 05:26] sgowroji commented on #4028
Hello @aryeh-looker, Can you share the minimal steps followed in testing the above issue. Thanks!

[2022-10-21 05:31] sgowroji commented on #3725
Hello @abhillman, Could you please elaborate  your request with more details and it would be helpful if you can send us any PR on the above request.

[2022-10-21 05:34] sgowroji commented on #3684
Dupe of #2213

[2022-10-21 05:34] #3684 closed

[2022-10-21 05:36] sgowroji commented on #3636
Hello @BillyAutrey, Can you provide the example used in testing the above issue.

[2022-10-21 05:37] sgowroji commented on #3635
Hello @slamdev, If you are still looking for support on the above issue. Could you please provide more details of it. Thanks!

[2022-10-21 05:57] sgowroji commented on #3249
Dupe of https://github.com/bazelbuild/intellij/issues/3775

[2022-10-21 07:38] slamdev commented on #3635
hi @sgowroji ! yeah, you can clone the project above, run `bazel build //...` and see that IDEA\GoLand marks `rulew.PrintRule()` call in `main.go` file as undefined.

[2022-10-21 13:04] tpasternak opened #4037 "Update to 2022.3"
### Description of the feature request:

_No response_

### What underlying problem are you trying to solve with this feature?

_No response_

### What operating system, Intellij IDE and programming languages are you using? Please provide specific versions.

_No response_

### Have you found anything relevant by searching the web?

_No response_

### Any other information, logs, or outputs that yo

[2022-10-21 16:55] BillyAutrey commented on #3636
Yeah, I described exactly what I did above.

Here's the line as it exists today:
https://github.com/bazelbuild/intellij/blob/68bc3a7e12181ecc36d557db9379111841aa5192/aspect/testing/tests/src/com/google/idea/blaze/aspect/scala/scalalibrary/ScalaLibraryTest.java#L43

And here's the Java version of the same assertion:
https://github.com/bazelbuild/intellij/blob/68bc3a7e12181ecc36d557db9379111841aa519

[2022-10-22 20:28] joca-bt commented on #3252
Hey, I haven't seen the problem manifest itself recently. I'll try a bit harder this week.

[2022-10-22 23:41] maxlepikhin commented on #2239
@sgowroji pip_parse does not work, there is no work around. Is it possible to fix the plug-in for pip_parse?

[2022-10-23 20:54] limdor opened #4040 "Project cannot be built with incompatible_disallow_empty_glob"
### Description of the bug:

Project cannot be built with incompatible_disallow_empty_glob

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Just build adding --incompatible_disallow_empty_glob

### Which Intellij IDE are you using? Please provide the specific version.

None, it is when building the plugin

### What programming languages an

[2022-10-24 07:42] ittaiz commented on #3919
Hi @mai93 I was OOO on vacation.
I think you can take my repro and run it on 2022.2 and see the issue.
The problem was something with singlejar being faulty but I don't fully remember.
It's a shame quite honestly. We're trying to use fast test with scala which doesn't need this but for java users this can be a very valuable feature.

[2022-10-24 11:31] liucijus commented on #187
@ittaiz is this still relevant?

[2022-10-24 12:53] #211 closed

[2022-10-24 18:05] ittaiz commented on #187
I think so.
The goal here was to get confidence IJ integration still works.
Having said that I think this is still costly to implement so U don't know if id put the effort into this right now.

[2022-10-24 21:23] JamesRTaylor commented on #3097
Hi @sgowroji - here you go: https://github.com/bazelbuild/intellij/pull/4043

[2022-10-24 21:51] nkoroste commented on #3703
The workaround works but I feel like we need a more official solution for this in order to enable toggling it via bazel flag

[2022-10-26 13:34] sonahovhannisyan opened #4046 "Layout Preview is not available when ConstraintLayout (AndroidX) is used"
### Description of the bug:

Layout Preview is missing classes and is not able to render the layout design when ConstraintLayout is used. The project builds successfully, but UI editor fails to find the ConstraintLayout.

<img width="1238" alt="MissingConstraintLayout" src="https://user-images.githubusercontent.com/15659476/198036190-183a4bac-0423-481e-a5cb-2ffb399b560c.png">

### What's the simpl

[2022-10-26 15:49] bdleitner commented on #3555
Sorry for the delayed response.  Yes, I'm still looking for support if it's
still happening.  I didn't have a chance to test it out this weekend.
I will try and repro this evening or next after seeing if there are any
updates and I'll post a repo to github with a minimal reproducible example.

But when last I checked it was happening for all tests I tried to debug.
Literally a dummy setup of "here

[2022-10-27 01:50] bdleitner commented on #3555
Rechecked with updated Bazel plugin and confirmed the issue still occurs.
Created https://github.com/bdleitner/illegal_char_demo to demo, with code+screenshots.

[2022-10-27 06:06] sgowroji commented on #3245
Hello @dtaveras, IF you are still looking support on the above issue. Could you please share complete steps to reproduce it. Thanks!

[2022-10-27 08:47] sgowroji commented on #3380
Hello @malkia, Can you provide a minimal steps to reproduce the above issue . Thanks!

[2022-10-27 08:49] sgowroji commented on #3426
Hello @anagrius, Can you provide minimal steps to reproduce the above request. Thanks!

[2022-10-27 13:12] BjarkeTornager opened #4048 "Unable to sync entire bazel project on macOS using dazel"
#### Description of the issue. Please be specific.
The setup of the bazel project that I am working on does not support macOS so I am using dazel as a wrapper to execute it on linux in docker, which works fine from the command line. My bazel configuration in IntelliJ uses dazel to execute in linux in docker and looks like this:
![Bazel Settings](https://user-images.githubusercontent.com/28363006/1

[2022-10-27 13:46] sgowroji commented on #4048
Dupe  of https://github.com/bazelbuild/intellij/issues/418

[2022-10-27 14:07] BjarkeTornager commented on #4048
Yes possibly. But I don't see a suggested resolution on that issue. It looks like somehow the messages between docker and IntelliJ gets corrupted when syncing the entire project. However, it does not happen for sub-targets and individual targets.

[2022-10-27 21:23] malkia commented on #3380
Sure. I've used https://github.com/open-telemetry/opentelemetry-cpp as example, did the defaults, and then went into

src/test/metrics/BUILD file

and selected the `aggregation_test`

![image](https://user-images.githubusercontent.com/51738/198400590-714a8666-ac23-41a5-aef5-74ab82552616.png)

right click, debug on it, and it shows this:

![image](https://user-images.githubusercontent.com/51738/198

[2022-10-27 21:25] malkia commented on #3380
I've also checked the plugin version, it's `2022.10.04.0.1-api-version-222` Oct 20, 2022
and my CLion is right now at `2022.2.4`

Hope this helps.

[2022-10-28 02:50] histfuture opened #4049 "Support LLDBSERVER"
Is is possible to change bazel debug from gdbserver to lldbserver?

[2022-10-28 03:04] jbarr21 commented on #4046
I believe that this is similar to [the issue](https://github.com/bazelbuild/intellij/issues/2765) of the Compose Previewer not working since it relates to external artifacts from Maven not getting loaded. There were some good comments related to that issue [here](https://github.com/bazelbuild/intellij/issues/2765#issuecomment-969305094).

<img width="512" alt="Screen Shot 2022-10-27 at 10 04 15 PM

[2022-10-28 03:30] sgowroji commented on #4049
Hello @histfuture, Could you please elaborate your query with complete details. Thanks!

[2022-10-28 04:13] histfuture commented on #4049
Description of the issue. Please be specific.

I' m currently reconstructing my cmake project into bazel project. Since the producted binary is larger than 3G , GDB always timeout. In cmake project, LLDB performs well with such BIG binary. However, with bazel plugin , the default DEBUG mode is based on gdb-server. Is there a approach to change gdb-server into LLDB/LLDB-server ?

Version informatio

[2022-10-29 12:56] joca-bt commented on #3252
I think it is no longer happening. We can close and re-open again in the future if needed.

[2022-10-29 12:56] #3252 closed

[2022-10-30 18:23] pswaminathan commented on #1922
Hi @mai93, I am seeing this same issue (different project, but same behavior) with the latest plugin version.

[2022-10-30 20:42] ittaiz commented on #3919
@mai93 I tried again with 2022.2 and given the above "hacks" (the `data`, the `jvm_flags` and the `Edit Custom VM options...`) then fast test does work for java.
Might also be related to my bazel version which is `release 5.3.2`.
I think that you should consider streamlining this experience or at least document it but that's your call.
If you want me to open a new ticket LMK (and to which end)

[2022-10-31 06:07] sgowroji commented on #2905
Hello @Mrmann87, Could you please verify the above with the latest Intellij and bazel plugin. Thanks!

[2022-10-31 06:11] sgowroji commented on #2662
Duplicate of https://github.com/bazelbuild/intellij/issues/3425

[2022-10-31 06:14] sgowroji commented on #3098
Duplicate of #3112

[2022-10-31 06:14] #3098 closed

[2022-10-31 06:23] sgowroji commented on #3537
Hello @uri-canva, Can you please respond the above if the above issue still exists.

[2022-10-31 06:25] sgowroji commented on #3629
Hello @vm-mishchenko, Can you provide an example to reproduce the above issue at our end. Thanks!

[2022-10-31 06:29] sgowroji commented on #3303
Hello @Nexproc, If your still looking for support on the above issue. Can you please send the PR which you mentioned in the above [comment](https://github.com/bazelbuild/intellij/issues/3303#issuecomment-1185315866) . I can get it review from the team. Thanks!

[2022-10-31 06:30] sgowroji commented on #2434
Hello @DrewGlinsman, Could you please verify the above with the latest clion and bazel plugin. Thanks!

[2022-10-31 06:32] sgowroji commented on #2398
Hello @jsannemo, Could you please respond if you are still looking support on the above issue and It would be great if you can send us PR i can arrange it for review. Thanks!

[2022-10-31 13:58] sgowroji commented on #3413
Hello @joca-bt, Could you please provide an example to reproduce the above error. Thanks!

[2022-10-31 19:30] mai93 commented on #2537
Closing this issue, if you still see this problem please feel free to reopen the issue and provide us with more information to reproduce it.

[2022-10-31 19:30] #2537 closed

[2022-10-31 19:37] mai93 commented on #3080
@aarone I think we can review a PR that implements this extension.

[2022-10-31 19:44] mai93 commented on #4048
@ittaiz I know that https://github.com/bazelbuild/intellij/issues/418 was reported long time ago, but if you can help us with more details about your findings and how you worked around it, that will be great.

[2022-10-31 20:33] aarone commented on #3080
thanks! see related PR

[2022-10-31 21:22] mai93 commented on #4013
Unfortunately, Windows is not officially supported by the plugin. However, I created PR https://github.com/bazelbuild/intellij/pull/4062 that may fix this problem. If you can build the plugin ([instructions](https://github.com/bazelbuild/intellij#building-the-plugin)) from this PR and confirm that it fixes your issue, we can merge it.

[2022-11-01 06:04] sgowroji commented on #2766
Thank you @cpsauer   for sharing the above request. Could you Please share the PR's, I can arrange it for review.

[2022-11-01 06:59] cpsauer commented on #2766
Couple more notes before we decide that that PR fixes things:
1. The fix to #1256, linked above, looks *dicy*. Seriously, that blaze-out patch just covered bugs, imo, since you could easily have a deeply nested directory named external and it'll munch all those subdirectories. You want to use the regex I used here. We should merge this and have it call into this code, if it doesn't already.
2. I'v

[2022-11-01 10:57] sgowroji commented on #2896
Hello @shs96c, Are you still looking support on the above issue with the latest releases. Thanks!

[2022-11-01 11:01] sgowroji commented on #3161
Hello @neee, Could you please provide a sample repo to reproduce the above issue, if you are still looking for support on the above. Please try to verify the same with the latest versions. Thanks!

[2022-11-01 11:44] ittaiz commented on #4048
We had our own dazel project back then (of course called wazel 😁) and we scraped it for other reasons so I don't remember the exact details.
Having said that I think the issue was about our wrapper printing additional bytes and that failed the strict proto parsing IJWB had/has.
To this day in our wrapper we have logic which makes sure to not print anything additional if the commands are with tool

[2022-11-01 16:55] #4027 closed

[2022-11-01 21:02] mai93 commented on #3919
Thank you @ittaiz.

For my example, adding the options to `Custom VM options...` was enough to make it work, I will add this note to the plugin documentation.

[2022-11-01 22:17] #3786 closed

[2022-11-01 22:19] #3731 closed

[2022-11-01 22:20] #3729 closed

[2022-11-02 03:40] mai93 commented on #3625
I think this is already supported, it is mentioned in the [plugin documentation ](https://ij.bazel.build/docs/project-views.html#java_language_level). I verified this on the case you described with this [example project](https://github.com/bazelbuild/intellij/tree/master/examples/java/greetings_project) by default jdk-11 is used and when I add `build --java_language_version=17` to the `.bazelrc` j

[2022-11-02 11:26] sgowroji commented on #2849
Hello @rfblue2, Could you please respond if you are still looking support on the above issue and able to reproduce with the latest bazel plugin version. Thanks!

[2022-11-02 11:59] sgowroji commented on #2953
Hello @Enrico2, Could you please verify the issue with the latest bazel plugin versions. Thanks!

[2022-11-02 12:05] sgowroji commented on #2875
Hello @fjaccarino, Could you please respond if you are still seeing the above issue with latest stable versions of pycharm and bazel plugin. Thanks!

[2022-11-02 12:06] sgowroji commented on #3374
Hello @pettermahlen, Can you share a sample repo to reproduce the above issue. Thanks!

[2022-11-02 18:53] myronmarston opened #4065 "Running individual Kotlin JUnit tests sometimes doesn't work depending on the test name"
### Description of the bug:

We're using kotlin and like using backticks around our test method names so we can be more descriptive:

[code]

But when we use intelliJ to try to run this single test (rather than the entire test class) via the context-menu option, we get an error from the bazel test runner:

[code]

It looks like an escaping issue. If I remove the parens from the method name, it cor

[2022-11-02 19:18] myronmarston commented on #4065
I've discovered that this is only a problem with JUnit 4 and on JUnit 5 it's fixed.  Given how old JUnit 4 is I imagine fixing it is not a priority. Will close.

[2022-11-02 19:18] #4065 closed

[2022-11-02 19:45] crazyjat opened #4066 "[IntelliJ] Importing from Project view file results in error about external project."
### Description of the bug:

Trying to import from a .bazeproject file into IntelliJ results in the below error message:

![image](https://user-images.githubusercontent.com/12353450/199587581-54a88f06-5074-49c5-8a34-b5b377d30d73.png)

The file I'm importing is in that path. Seems like a bug to me.

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if poss

[2022-11-02 21:10] mai93 commented on #2443
I think you will need to update the flags specified in [AspectStrategyBazel](https://github.com/bazelbuild/intellij/blob/master/base/src/com/google/idea/blaze/base/sync/aspects/strategy/AspectStrategyBazel.java#L45) class to use another aspect and not add `--override_repository=intellij_aspect`.

[2022-11-02 21:10] #2443 closed

[2022-11-02 21:12] mai93 commented on #7
We can review/accept a PR that fixes this.

[2022-11-03 06:03] matts1 opened #4067 "Syncing is incompatible with bazel-6"
### Description of the bug:

I filed https://github.com/bazelbuild/bazel/issues/16644, but they said to file a bug here.

It apppears that bazel 6.0 changed the API so that override_repository silently fails if the repository did not previously exist, while in bazel 5.3.2, it worked.

This is especially relevant, because the bazel intellij plugin relies on this feature to sync by adding a reposito

[2022-11-03 07:49] fmeum commented on #4067
Adding some info from https://github.com/bazelbuild/bazel/issues/16644:

I think that this can be solved in the plugin by replacing `@intellij_aspect//:fast_build_info.bzl%fast_build_info_aspect` with `@@intellij_aspect//:fast_build_info.bzl%fast_build_info_aspect` if the Bazel version is at least 6.0.0. Even though the error only comes up with `--enable_bzlmod`, this label type is understood even

[2022-11-03 07:59] Hotwill opened #4068 "bazel report an exception: "cannot load from prebuilt icon cache" when start the IDE"
### Description of the bug:

when start clion, it report a "ide error" on the right button, click it and shows bazel throws an exception.
here is the stack:
cannot load from prebuilt icon cache

java.nio.file.NoSuchFileException: /home/huzhuang/opt/clion-2020.1.2/bin/icons/icons-v1-1.0.db
	at java.base/sun.nio.fs.UnixException.translateToIOException(UnixException.java:92)
	at java.base/sun.nio.fs.

[2022-11-03 09:18] sgowroji commented on #4068
Hello @Hotwill, Thanks for reaching out regarding the above error. Could you please share more details like plugin and clion version used in reproducing the above issue. And minimal steps followed in reproducing it.

[2022-11-03 09:24] sgowroji commented on #4066
Hello @crazyjat, Could you please share the sample code with project view file used in reproducing the above issue. Thanks!

[2022-11-03 09:25] meteorcloudy commented on #4067
@mai93 This is an quite important issue to fix to allow Bzlmod users to use the Bazel intellij plugin. Is it possible to fix the aspect label by a version check, basically:

- For Bazel version <=5.x: `@intellij_aspect//:fast_build_info.bzl%fast_build_info_aspect`
- For Bazel version >=6.x: `@@intellij_aspect//:fast_build_info.bzl%fast_build_info_aspect`

[2022-11-03 12:47] ittaiz commented on #7
Thanks @mai93
Given a good few years have passed we have already gotten used to this.
I still think that devs moving from other tools (e.g. maven) would find this easier to work with.
Having said that I don't know how much time I'll have to contribute this given we have no need for it now (TBH our devs use now the sync button as sort of make)

[2022-11-03 14:07] tpasternak opened #4069 "Beta Channel: Only projects using JVM >= 17 can be imported"
### Description of the bug:

_No response_

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

_No response_

### Which Intellij IDE are you using? Please provide the specific version.

_No response_

### What programming languages and tools are you using? Please provide specific versions.

_No response_

### What Bazel plugin version are you

[2022-11-03 17:08] #4069 closed

[2022-11-03 19:06] mai93 commented on #7
Thank you @ittaiz, I just wanted to clarify that we are open for contributions on this from you or anyone else. I also expected that the plugin users got used to the current UI. I'll close the issue and if we get more requests about it we will reconsider it.

[2022-11-03 19:06] #7 closed

[2022-11-04 08:17] tpasternak opened #4073 "Bazel Plugin 2022.3 Beta: Exception at startup"
### Description of the bug:

[code]

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

_No response_

### Which Intellij IDE are you using? Please provide the specific version.

2022.3

### What programming languages and tools are you using? Please provide specific versions.

_No response_

### What Bazel plugin version are you using?

_No r

[2022-11-04 10:39] absalvado commented on #3112
Hello @dpoluyanov,

First of all thank you very much for sharing your solution. 👍

I'd like to know if after having your bazel setup if you also found this kind of issues when syncinc your project in IDEA?

![image](https://user-images.githubusercontent.com/26327900/199953336-161b0bf8-339f-4657-8599-bbb3f7e24336.png)

[2022-11-04 11:01] dpoluyanov commented on #3112
This is a common problem for our bazel-wsl setups and we have two consequent steps to mitigate this issue:
- First of all, we create separate `windows.bazelproject` with enabled `shard_sync` and reduced value for `target_shard_size` to 300 (1000 by default), see https://ij.bazel.build/docs/project-views.html#target_shard_size.
So our `windows.bazelproject` looks like:
[code]

- Second step is to s

[2022-11-04 12:15] #4073 closed, assigned to jastice

[2022-11-04 17:33] absalvado commented on #3112
Thank you very much! It worked on my side 🎉

[2022-11-04 19:18] Enrico2 commented on #2953
Apologies, unfortunately I can't, I no longer work with that repository.

[2022-11-07 03:52] sgowroji commented on #3478
Hello @manageryzy, Could you please respond if you are still looking support on the above issue. Thanks!

[2022-11-07 03:54] sgowroji commented on #3319
Hello @redsun82, Are you still looking support on the above issue. Thanks!

[2022-11-07 03:55] sgowroji commented on #3220
Hello @BillyAutrey, Could you please respond if you are still looking support on the above issue. Thanks!

[2022-11-07 03:57] sgowroji commented on #2447
Hello @rmporsch, Could you please respond if you are still looking support on the above issue. Thanks!

[2022-11-07 06:03] cnsgsz commented on #2447
I'm looking for this support too.

[2022-11-07 06:11] GuoshunWu commented on #3817
Hi Guys,

How is this gogin on? If there's a usable one, please give me to have a test.
Thanks.

BR,
Guoshun

[2022-11-07 06:53] sgowroji commented on #2953
Thanks for update. We are closing this issue now. Please feel free to reopen if you or anybody able to reproduce it.

[2022-11-07 06:53] #2953 closed

[2022-11-07 13:14] tpasternak opened #4081 "Tests fail on master branch"
### Description of the bug:

_No response_

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

_No response_

### Which Intellij IDE are you using? Please provide the specific version.

_No response_

### What programming languages and tools are you using? Please provide specific versions.

_No response_

### What Bazel plugin version are you

[2022-11-07 15:25] BillyAutrey commented on #3220
We have a workaround right now, which is a bit ugly.  If you define bazelproject files for EVERY target with a different setup, then you can get it working.  Not my favorite solution.

I would definitely appreciate if this feature were added.

[2022-11-07 15:35] #4081 closed

[2022-11-08 03:28] Morfly commented on #1922
Hi @pswaminathan. Could you click `Edit Configurations...` in Idea/AndroidStudio -> select your target -> disable `use mobile-install` checkmark and try again. It did the trick for me.

[2022-11-08 06:53] sgowroji commented on #2855
Hello @zhangleipro, Could you please respond if you are still looking support on the above issue. Thanks!

[2022-11-08 06:55] sgowroji commented on #3020
Hello @lukaszwawrzyk, Are you still looking support for this issue and Did the [solutions](https://github.com/bazelbuild/intellij/issues/3020#issuecomment-1039696754) mentioned here helped you . Thanks!

[2022-11-08 06:57] sgowroji commented on #2958
Hello @DCNick3, Are you still looking support on the issue and [workaround](https://github.com/bazelbuild/intellij/issues/2958#issuecomment-1064955318) mentioned here worked for you ?

[2022-11-08 06:58] sgowroji commented on #2957
Hi @jfirebaugh, Do you still looking support on the above issue. Thanks!

[2022-11-08 06:59] sgowroji commented on #2733
Hello @ekatz-quotient, Could you please try the above with the latest bazel plugin and intellij releases. Let us know if you are still seeing the above error logs. Thanks!

[2022-11-08 07:01] sgowroji commented on #2756
Thanks for the [workaround](https://github.com/bazelbuild/intellij/issues/2756#issuecomment-908507917) shared. @Elentary Are you still seeing the above error. Could you please respond. Thanks!

[2022-11-08 07:02] sgowroji commented on #2798
Hello @nishantroy, Are you still looking support on the above issue and did it [helped](https://github.com/bazelbuild/intellij/issues/2798#issuecomment-929590965). Thanks!

[2022-11-08 07:04] sgowroji commented on #2512
Hello @salvita001, Can you please try with the latest bazel plugin and intellij release and let us know if you still see the above error. Thanks!

[2022-11-08 07:06] sgowroji commented on #2480
Hello @dududko, Are you still seeing the above issue with latest bazel plugin release version. Thanks!

[2022-11-08 07:08] sgowroji commented on #2647
Hello @salier, Please follow the latest documentation from [here](https://google.github.io/mediapipe/getting_started/android#building-android-example-apps-with-bazel )

[2022-11-08 07:08] #2647 closed

[2022-11-08 07:11] sgowroji commented on #2613
Hello @ThomasCJY, Can you please respond on the [comments](https://github.com/bazelbuild/intellij/pull/2319#issuecomment-1237660597) mentioned in your  PR . Thanks!

[2022-11-08 08:31] DCNick3 commented on #2958
I did devise my own workaround (recompiling the gdb reverting the breaking change).

[2022-11-08 08:41] lukaszwawrzyk commented on #3020
I think it doesn't happen anymore in our setup. Thanks!

[2022-11-08 08:42] #3020 closed

[2022-11-08 08:44] sgowroji commented on #2958
Please reopen if you are looking for support

[2022-11-08 09:22] DCNick3 commented on #2958
I believe that closing this issue is not the best way forward. Even though there are several workarounds (patching & building your own gdb/downgrading gdb/editing plugin's gdbserver wrapper) none of them are sustainable and all of them have their downsides.

I believe a better resolution should be pursued, like:
- working on fix in gdb and upstreaming it (there was a patch sent to the mailing list

[2022-11-08 12:46] sgowroji commented on #2547
Hello @cnsgsz, Could you please respond if you are still looking support on the above issue. Thanks!

[2022-11-08 12:47] sgowroji commented on #2544
Hello @kekxv, Can you please try with the latest bazel plugin and clion versions and let us know if you are still seeing the same problem. Thanks!

[2022-11-08 12:50] sgowroji commented on #2301
@dylanShark We are closing this issue now as it is fixed. Can you please try with latest bazel plugin.

[2022-11-08 12:50] #2301 closed

[2022-11-08 12:52] sgowroji commented on #2534
Hello @lorenz, Let us know if you are still looking support on the above issue.  Please reach us back. Thanks!

[2022-11-08 13:55] kekxv commented on #2544
<img width="398" alt="image" src="https://user-images.githubusercontent.com/15551108/200582976-8014a64d-7ba0-4dad-82e0-6867e73d3961.png">
always

[2022-11-08 14:48] #2101 closed

[2022-11-08 16:57] jfirebaugh commented on #2957
Yes, if possible. Thank you.

[2022-11-08 20:31] cpsauer commented on #2547
@sgowroji, I think it's fairly likely that this is still a problem out of the box, unless you guys have fixed it?

[2022-11-09 09:04] joca-bt commented on #3413
I've attached a simple example.

I am using an old plugin version (2022.09.20.0.1-api-version-222) as the most recent version of the plugin breaks test display even further.

Using `@ParameterizedTest(name = "{0}")`:

On the terminal (`bazel run //:tests`):
[code]

On IntelliJ:
![no index](https://user-images.githubusercontent.com/1297942/200785963-c52927c1-fa74-4882-a03f-7473065d175e.png)

Using

[2022-11-09 09:05] joca-bt commented on #3413
@sgowroji updated with an example. Sorry for the delay.

[2022-11-09 16:09] LittleHuba commented on #3319
I'm facing the same issue and assume that this is the underlying problem:
https://github.com/bazelbuild/bazel/issues/12712

[2022-11-10 01:55] dhalperi commented on #3326
Hi @sgowroji - the behavior here does not seem to have changed whatsoever.

Can you clone the repo and branch above, and give me step-by-step instructions for what you're doing?

[2022-11-10 03:53] pswaminathan commented on #1922
@Morfly unchecking it doesn't work either. I then get this:

[code]

[2022-11-10 14:41] LittleHuba commented on #1368
This is still an issue with CLion 2022.2.4 and bazel plugin version 2022.10.18.0.1 and blocks usage of hermetic toolchains in CLion.

[2022-11-10 15:48] iamricard commented on #1842
👋🏼 another attempt at offering to work on this, or #1745 which would also solve our issue.

[2022-11-10 19:30] jameslan opened #4094 "UI components repeated on titlebar when NewUI is enabled, on 2022.3 EAP"
### Description of the bug:

Please refer to the attached screenshot.

Tried on
- Non-Bazel project on 2022.3 EAP NewUI enabled
- Bazel project on 2022.3 EAP NewUI disabled
- Bazel project on 2022.2 NewUI enabled

They are all good.

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

_No response_

### Which Intellij IDE are you using? Please

[2022-11-11 03:36] sgowroji commented on #4094
Hello @jameslan, Can you provide complete steps to reproduce the above issue. Thanks!

[2022-11-11 03:39] sgowroji commented on #108
Hello @VisheshVadhera, Could you please respond if you are still looking support on the above issue. Thanks!

[2022-11-11 03:46] sgowroji commented on #147
Hello @hmemcpy, Are you still seeing the issue with latest bazel and intellij plugin ?

[2022-11-11 09:13] liucijus commented on #3636
@BillyAutrey how did you get to this issue? Are you looking for source attachment to external jars? If yes, there are number of fixes that need to be made to get it working. I have a fork with a working implementation, but it will take some time to turn those changes into contributions to official plugin codebase. https://github.com/wix-playground/intellij/tree/scala-attach-sources

[2022-11-13 09:54] ittaiz commented on #3919
Saw the issue again on 2022. This is when I'm debugging the plugin so maybe that's the issue (I sometimes debug and sometimes build the zip locally and install it and I don't remember which of my previous attempts were which).
`singlejar_local: src/tools/singlejar/input_jar.cc:119: external/intellij_ce_2022_2/lib/app.jar is corrupt, expected ECD64 record at offset 0x17b6de20 is missing`

[2022-11-14 03:26] dkthezero commented on #179
same question when I use multiple IDEs from JetBrains for open 1 bazel project like Aqua and Intellij

[2022-11-14 07:06] illera88 commented on #3249
@mai93 @estebandlc is there any plan to fix this issue?

Thank you

[2022-11-14 07:22] liucijus commented on #3249
Bazel project import has been fixed with https://github.com/bazelbuild/intellij/pull/3601

[2022-11-14 07:24] liucijus commented on #3249
Pointing to `.ijwb` should not be needed anymore, project detection has been fixed on Jetbrains Gateway.

[2022-11-14 07:27] illera88 commented on #3249
In that case this issue as well as https://github.com/bazelbuild/intellij/issues/3775 should be closed right?

[2022-11-14 07:36] liucijus commented on #3895
@tpasternak shall we merge #3900?

[2022-11-14 12:25] auzhva opened #4102 "`IDEA` conflicts with `GoLand` when using `import_run_configurations` feature of Project Views"
### Description of the bug:

`.bazelproject` files alow to export/import run configurations, using `import_run_configurations` feature - https://ij.bazel.build/docs/project-views.html#import_run_configurations

This allows to share run configurations across the teams.

But when one team member uses `IntelliJ IDEA Ultimate` and the another one uses `GoLand` those two systems exports those files dif

[2022-11-15 09:37] cpsauer commented on #2766
@sgowroji, is a review forthcoming on these? Checking in, since it's been a couple weeks.

[2022-11-15 09:39] sgowroji commented on #2766
Thank you @cpsauer for patience. We have shared the details to the engineer who will assist you soon on the above issue.

[2022-11-15 23:24] mai93 commented on #3424
Did you try adding `java_language_level: 8` to your project view file? ([java_language_level documentation](/Users/messa/plugin-code/intellij/examples/java/greetings_project/.ijwb))

[2022-11-15 23:49] mai93 commented on #3919
I've not seen this error before, can you please open a new bug for that?

[2022-11-16 04:15] ittaiz commented on #3919
Yes

[2022-11-16 07:44] #4037 closed, assigned to tpasternak

[2022-11-16 14:48] liucijus opened #4108 "Source attachment does not work for Scala"
### Description of the bug:

Source attachment does not work for Scala

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

Having

### Which Intellij IDE are you using? Please provide the specific version.

_No response_

### What programming languages and tools are you using? Please provide specific versions.

_No response_

### What Bazel p

[2022-11-17 06:18] caseyduquettesc commented on #3185
I only experience the problem when I use bazel, otherwise the packages resolve fine.

[2022-11-17 06:19] caseyduquettesc commented on #3478
Seems related to https://github.com/bazelbuild/intellij/issues/2447

[2022-11-17 06:39] caseyduquettesc commented on #2239
I can confirm that downgrading rules_python to 0.9 also fixed the issue for me. I'm not sure if the bug is on their side or the plugin through because I haven't looked into why it couldn't resolve the packages. I'll open an issue in rules_python and link it to this though to loop them in.

[2022-11-17 08:22] sgowroji commented on #2601
Hello @xpahos, If you are still looking support on the above issue. Could you please provide complete steps to reproduce the above issue. Thanks!

[2022-11-17 08:26] sgowroji commented on #2243
Hello @sreev, Could you please respond if you are still looking support on the above issue.  And can you provide more details of it to troubleshoot further. Thanks!

[2022-11-17 08:27] sgowroji commented on #2238
Hello @kamalrama, Are you still seeing the issue with latest Clion and Bazel plugin versions. Thanks!

[2022-11-17 08:29] sgowroji commented on #3527
Dupe of https://github.com/bazelbuild/intellij/issues/1265

[2022-11-17 08:29] sgowroji commented on #2225
Dupe of https://github.com/bazelbuild/intellij/issues/1265

[2022-11-17 08:32] sgowroji commented on #2204
Hello @illera88, Can you please try with latest bazel plugin and IDE versions and let us know if you are still seeing the issue. Thanks!

[2022-11-17 08:34] sgowroji commented on #2108
Hello @Mdp11, Could you please respond if you are still seeing the issue with latest bazel plugin and IDE versions.  Thanks!

[2022-11-17 08:35] sgowroji commented on #1993
Hello @MihaiBojin, Are you still seeing the issue with latest bazel plugin versions. Thanks!

[2022-11-17 08:37] sgowroji commented on #1690
Hello @fal-foyer, Could you please  elaborate your query with complete details and can you try testing the issue  with the latest bazel plugin and Intellij ide and see if you still able to reproduce on it. Thanks!

[2022-11-17 08:42] sgowroji commented on #1584
Hello @sgammon, Could you please provide more details to reproduce the issue at our end. And can you try to test the same with latest bazel plugin and Intellij IDE.  Thanks!

[2022-11-17 08:43] sgowroji commented on #1682
Hello @clrusby, Are you still seeing the issue with the latest bazel plugin release versions and Clion IDE. Thanks!

[2022-11-17 13:53] liucijus commented on #2849
Source attachment for Scala (and in some cases for Java) does not work. See #4108 for more detailed report.

[2022-11-17 14:02] liucijus commented on #4108
Existing PR related to the problem 2: #476

[2022-11-17 17:33] caseyduquettesc commented on #2239
Taking `tenacity` as an example, I peeked at the intellij-info file for it and from rules_python 0.9 to 0.13, the `relative_path` now has "site-packages/" in it.

<img width="1507" alt="Screen Shot 2022-11-17 at 8 15 55 AM" src="https://user-images.githubusercontent.com/16676170/202500102-c3d0db0e-0faf-4775-93f5-6b4fd4fc1106.png">

The build works because the change isn't _wrong_. The files are no

[2022-11-17 18:48] Mrmann87 commented on #2905
@sgowroji This appears to be fixed!

[2022-11-17 18:48] #2905 closed

[2022-11-17 19:36] vicpl opened #4112 "Variables are not resolved when run Run Configuration without debugging"
### Description of the bug:

 - Create a Run Configuration for bazel binary target
 - Specify Executable flags using variables, for example:
   --envfile=$WorkspaceRoot$/current.env

 - Run configuration with debugger - "$WorkspaceRoot$" is resolved into an actual path
 - Run configuration without debugger - "$WorkspaceRoot$" is not resolved and application receives "$WorkspaceRoot$/current.env" a

[2022-11-17 19:52] emidln-imc opened #4113 "Provide advanced option to disable extra debug flags"
[Extra debug flags](https://github.com/bazelbuild/intellij/blob/af4ee63c17ab823a2c8bb45d1d7562a65b632665/clwb/src/com/google/idea/blaze/clwb/run/BlazeCidrRunConfigurationRunner.java#L122)  can cause rebuilds due to flag changes between CLion and bazel. It would be handy for an advanced (default off) registry setting or experiment to turn off these extra flags for users who handle flags via .bazelr

[2022-11-18 02:19] sgammon commented on #1584
this is so old that i suspect it has been fixed @sgowroji - i'm on M1 now and i've had many fewer problems with bazel and intellij since filing this. will close and re-open if needed :) thank you for the followup.

[2022-11-18 02:19] #1584 closed

[2022-11-18 04:18] sgowroji commented on #4112
Hello @vicpl, Can you provide an sample code to reproduce the above issue. Thanks!

[2022-11-18 08:19] liucijus commented on #384
Related issue #2979

[2022-11-18 08:29] liucijus commented on #2979
Related issue #3214

[2022-11-18 15:03] vicpl commented on #4112
Hey @sgowroji,

Thanks for looking into this. Here is a sample repo: https://github.com/vicpl/bazel-4114

[2022-11-18 22:49] BillyAutrey commented on #3636
@liucijus yeah that's where we were headed.  We actually got Scala sources to attach with some very minor changes, I couldn't get your changes to work in the default bazel code base.

[2022-11-19 15:04] kristiandrucker commented on #4094
@sgowroji this issue is for Intellij with 2022.3+ update which includes the new ui. I've got the same issue.
1. Enable the new ui on intellij 2022.3
2. Load bazel project

[2022-11-19 19:56] clrusby commented on #1682
I'm afraid I stopped using CLion about 18 months ago so wouldn't know.

[2022-11-19 21:45] trinque commented on #2042
@JamyDev just curious whether this progressed. Environment variables are a common way to supply runtime parameters to services running in k8s, so this would be very useful!

[2022-11-21 03:14] manageryzy commented on #3478
I did implementation this feature in my folk. But my folk plugin does not work well in every situation.

[2022-11-22 01:01] JamyDev commented on #2042
@trinque We have this in our internal fork, so I guess I could PR it. But I never got an answer from the maintainers so kind of lost track of it :))

[2022-11-22 06:22] liucijus commented on #3636
@BillyAutrey I have opened #4108 as an overview of all issues. If there are more case you're aware I would love to hear about them (repro would be more than appreciated).

[2022-11-22 21:52] mai93 commented on #436
Hello @jgavris, do you still see this problem with newer versions of the plugin and AS?

[2022-11-22 22:08] mai93 commented on #1798
@stevenwjy if you are still seeing this problem with newer IDE and plugin versions, can you please provide us with an example project to reproduce it? You can use this sample project as a base: https://github.com/bazelbuild/intellij/tree/master/examples/go/with_proto

[2022-11-23 20:00] blorente commented on #3724
Hey @abhillman , could you check if the instructions added [here](https://github.com/bazelbuild/intellij/blob/master/DEV_IDE_SETUP.md), and see if they work for you?

[2022-11-23 20:04] blorente commented on #3726
@abhillman Could you let me know if the instructions pointed to by Mai (plus the dev instance instructions) are enough?

[2022-11-24 02:44] histfuture commented on #4049
I found a solution to workaround. Add a line "cc.remote.debugging=false" in to  "~/.intellij-experiments" to disable gdbserver for bazel project, and modify the debugger to "lldb".

[2022-11-25 06:44] ittaiz opened #4130 "Scala fast test support"
### Description of the feature request:

Java IJWB has [fast test](https://ij.bazel.build/docs/fast-builds.html) support for many years.
We want to extend it to also support scala.

### What underlying problem are you trying to solve with this feature?

From discussions with googlers it was said to be very valuable for developer velocity.
We (at Wix.com) are trying to improve the `edit-compile-tes

[2022-11-25 17:57] #3216 closed

[2022-11-25 17:58] blorente commented on #3691
Hello! I'm working on this now. I've opened a PR with _some_ fixes for this, but the full solution requires semantic information, which I'm not sure how to get. Will keep plugging at it :)

[2022-11-25 18:30] trinque commented on #2042
If it's not too much trouble, I'd greatly appreciate it!

Plugin maintainers, can we get @JamyDev some love on this potential PR? Not being able to set environment variables is making for brittle work-arounds on our end.

@JamyDev if you need help getting that PR over the finish line, I'm happy to help however I can, including contributing code.

[2022-11-28 04:28] seeflood commented on #506
is there any progress? 😢

[2022-11-28 15:24] matthewjh commented on #3613
Same for me.

[2022-11-28 21:03] mai93 commented on #1744
Fixed with https://github.com/bazelbuild/intellij/commit/593a8014a48194d2a23479bbd09d230efc2b5b5c

[2022-11-28 21:03] #1744 closed

[2022-11-28 21:13] mai93 commented on #1736
@tpasternak is this also fixed with https://github.com/bazelbuild/intellij/pull/4003?

[2022-11-28 21:14] mai93 commented on #1868
@tpasternak is this also fixed with https://github.com/bazelbuild/intellij/pull/4003?

[2022-11-28 21:22] mai93 commented on #2317
Hello @dkthezero, sorry for the late reply. the feature is enabled by default now? Are you able to use it?

[2022-11-28 23:16] JamyDev commented on #2042
@trinque created the [PR](https://github.com/bazelbuild/intellij/pull/4138), need someone to test it on a Java run target though, since I don't have any (besides the plugin itself)

[2022-11-29 06:27] sgowroji commented on #3732
Hello @abhillman, Did you get a chance to check the above [comment](https://github.com/bazelbuild/intellij/issues/3732#issuecomment-1275993989). Thanks!

[2022-11-29 08:48] tpasternak opened #4139 "Can't run this project with 2022.3"
### Description of the bug:

_No response_

### What's the simplest, easiest way to reproduce this bug? Please provide a minimal example if possible.

1. Import this project using IntelliJ 2022.3
2. Follow the guide described in [DEV_IDE_SETUP.md](https://github.com/bazelbuild/intellij/blob/0edc361d5906f5edbb1b9002cd7ad425a317c89c/DEV_IDE_SETUP.md)
3. Click the Debug button (spawning the "Run Plug

[2022-11-29 19:38] cpsauer commented on #2766
Friendly bump! Checking in since you'd asked for a PR for review and it's been a month.
Thanks for all you do.

[Btw, I also happened to be browsing the gazelle source, and [noted that they also handle external correctly, under output_base](https://github.com/bazelbuild/bazel-gazelle/blob/50455ffecf686e25e4b336328d8e35a3cf04a113/repo/repo.go#L50), as per the PR.

[2022-11-29 20:34] #4139 closed

[2022-11-29 22:57] sethobey-stripe commented on #3855
I just encountered this same issue today with 2021.3.3.

After numerous attempts to resolve by cleaning bazel caches, invalidate IDE caches, etc., I realized that I was only encountering this error upon having installed [Material Theme UI](https://plugins.jetbrains.com/plugin/8006-material-theme-ui). Once I uninstalled Material Theme UI, the issue appeared to resolve itself.

[2022-11-30 04:39] sgowroji commented on #3855
It seems the issue is caused by Material Theme UI in your case. Not by bazel. @sethobey-stripe Thank you for the information. Could you please verify the same @murray-stripe.

[2022-11-30 18:46] #4094 closed